@import url("./settingsCommon.css");

/*
  >>> BEGIN: Presets
*/
.awSt-preset-Logseq_original #banner,
.awSt-preset-Mia_quattro #banner {
    max-width: unset !important;
    border-radius: 0 !important;
}
.awSt-preset-Logseq_original .cp__sidebar-main-content,
.awSt-preset-Mia_quattro .cp__sidebar-main-content {
    border-radius: 0 !important;
}
/*
  <<<< END: Presets
*/


/*
  >>> BEGIN: Settings
*/
/* User in dark mode - hiding "light" mode items */
.dark-theme
    .cp__plugins-settings
    :is(.heading-item, .desc-item)[data-key^='colorLight'] {
    display: none;
}
/* User in light mode - hiding "dark" mode items */
.light-theme
    .cp__plugins-settings
    :is(.heading-item, .desc-item)[data-key^='colorDark'] {
    display: none;
}
.panel-wrap[data-id='logseq-awesome-styler']
    [data-key='presetName']
    small {
    display: block;
}
.panel-wrap[data-id='logseq-awesome-styler']
    [data-key='presetName']
    .form-select {
    float: left;
}
.panel-wrap[data-id='logseq-awesome-styler'] .preset-clone-button {
    margin: 3px 0px 0px 6px;
    display: inline-block;
    border: 1px solid #88888850;
    font-size: var(--awSt-ui-text-size);
}
.panel-wrap[data-id='logseq-awesome-styler']
    .preset-clone-button
    .ti {
    font-size: var(--awSt-content-font-size);
}
.awSt-preset-Custom
    .panel-wrap[data-id='logseq-awesome-styler']
    .preset-clone-button {
    display: none;
}

.ui__modal .cp__settings-inner > article {
    overflow: unset;
}
.panel-wrap[data-id='logseq-awesome-styler'] {
    transform: translate3d(0, 0, 0);
}
.panel-wrap[data-id='logseq-awesome-styler']
    .desc-item.as-input[data-key^='color']
    .form-control {
    width: 140px !important;
}
.panel-wrap[data-id='logseq-awesome-styler'] .color-input-helper {
    width: 90px !important;
    cursor: pointer;
    border: 1px solid currentColor;
    text-transform: uppercase;
}
.panel-wrap[data-id='logseq-awesome-styler'] .pcr-app[data-theme='monolith'] {
    width: 270px;
}
.panel-wrap[data-id='logseq-awesome-styler']
    :is(input, select):disabled {
    cursor: not-allowed;
}

/* Colors floating */
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) {
    width: 106px;
    float: left;
    margin: 0;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) small {
    display: none;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(
    .desc-item[data-key="colorLightTitleText"],
    .desc-item[data-key="colorDarkTitleText"],
    .desc-item[data-key="colorLightLink"],
    .desc-item[data-key="colorDarkLink"],
    .desc-item[data-key="colorLightH1"],
    .desc-item[data-key="colorDarkH1"],
    .desc-item[data-key="colorLightMarkBg"],
    .desc-item[data-key="colorDarkMarkBg"],
    .desc-item[data-key="colorLightQuoteBg"],
    .desc-item[data-key="colorDarkQuoteBg"]) {
        clear: both;
}
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key$="UiPanelsBg"] {
    border-top: 1px solid #88888850;
}
.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="backgroundHeading"] {
    clear: both;
    padding-top: 16px;
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item:not([data-key^="color"]) {
    margin: 0 12px 0 32px;
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Settings icons
*/
.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before,
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    display: inline-block;
    margin-right: 4px;
    font-family: "tabler-icons";
    font-size: 16px;
    font-weight: normal;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before {
    font-size: 22px;
    line-height: 0;
    transform: translateY(3px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    transform: translateY(1px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="presetHeading"] h2::before {
    content: "\ebcb";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="fontHeading"] h2::before {
    content: "\ebc5";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorLightHeading"] h2::before {
    content: "\eb30";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorDarkHeading"] h2::before {
    content: "\eaf8";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="backgroundHeading"] h2::before {
    content: "\eb0a";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="bannersPluginHeading"] h2::before {
    content: "\ead7";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="sizeHeading"] h2::before {
    content: "\ee7b";
}

/*
  <<<< END: Settings icons
*/


/* promo */
.is-awSt-theme .panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="infoWarning"],
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeUI"],
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeLinks"] {
    display: none;
}

body:not(.is-awUI-enabled) .panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeUI"],
body:not(.is-awLi-enabled) .panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeLinks"] {
    display: block;
}

.desc-item[data-key="infoWarning"],
.desc-item[data-key="promoAwesomeUI"],
.desc-item[data-key="promoAwesomeLinks"] {
    margin: 0.5em 0 !important;
    font-size: 1.2em;
}

.desc-item[data-key="infoWarning"] .form-checkbox,
.desc-item[data-key="promoAwesomeUI"] .form-checkbox,
.desc-item[data-key="promoAwesomeLinks"] .form-checkbox {
    display: none;
}
