/*
  >>> BEGIN: Banners plugin
*/
/* bg image */
body.is-banner-active[data-awst-banners-as-bg]::before {
    backdrop-filter: blur(20px);
    background-image: var(--pageBanner);
    filter: blur(20px);
}
html[data-theme='dark'] .is-banner-active[data-awst-banners-as-bg]::before {
    filter: blur(20px) brightness(0.7);
}

/* banner element */
html[data-theme='dark'] body:is([data-page='page'], [data-page='home']).is-banner-active::before {
    filter: brightness(0.8);
}
body:is([data-page='page'], [data-page='home']).is-banner-active.is-icon-active
    .cp__sidebar-main-content
    > div {
    padding-top: 0;
}
body:is([data-page='page'], [data-page='home']).is-banner-active.is-icon-active
    .journal-item:first-of-type
    > .page
    > .flex-col:first-child
    > .content
    > .flex-1::after,
body:is([data-page='page'], [data-page='home']).is-banner-active.is-icon-active
    .page
    > .relative
    > .flex-row
    > .flex-1::after {
    position: absolute;
    z-index: 1;
    display: var(--awSt-banner-iconGlow, block);
    content: var(--pageIcon) !important;
    filter: blur(18px) opacity(0.2) saturate(1.4);
    top: calc(var(--iconWidth) * -1);
    left: calc(var(--iconWidth) * -0.4);
    font-size: calc(var(--iconWidth) * 1.4);
}
html[data-theme='dark']
    body:is([data-page='page'], [data-page='home']).is-banner-active.is-icon-active
    .journal-item:first-of-type
    > .page
    > .flex-col:first-child
    > .content
    > .flex-1::after,
html[data-theme='dark']
    body:is([data-page='page'], [data-page='home']).is-banner-active.is-icon-active
    .page
    > .relative
    > .flex-row
    > .flex-1::after {
    filter: blur(18px) opacity(0.15) saturate(1.4);
}
#banner-widgets-weather#banner-widgets-weather {
    bottom: 24px;
}
#banner-widgets-weather#banner-widgets-weather .weather_dailyForecastContainerWithDots {
    margin-bottom: 0px !important;
}

body:is([data-page='page'], [data-page='home']).is-banner-active #banner {
    border-radius: 10px 10px 0 0;
}
body:is([data-page='page'], [data-page='home']).is-banner-active .cp__sidebar-main-content > div {
    position: relative;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;

}

body:is([data-page='page'], [data-page='home']).is-banner-active #banner {
    max-width: var(--ls-main-content-max-width);
  }
body:is([data-page='page'], [data-page='home']).is-banner-active .ls-wide-mode #banner {
    max-width: var(--ls-main-content-max-width-wide);
}
/*
<<<< END: Banners plugin
*/


/*
  >>> BEGIN: Bullet Threading plugin
*/
.bullet-container.bullet-closed {
    background-color: var(--ls-block-bullet-color);
}
a:hover > .bullet-container .bullet {
    background-color: var(--ls-block-bullet-active-color);
}
/*
<<<< END: Bullet Threading plugin
*/


/* Doc View Exporter plugin */
.kef-doc div:not(.initial)>div>div>div>[data-refs-self='["quote"]'] {
    padding: 10px 16px;
}
