/*
  >>> BEGIN: #kanban view
*/
/* layout */
[data-refs-self*=".kanban"] > .block-children-container > .block-children {
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    border: 0;
    overflow-x: auto;
}
/* column */
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block {
    display: inline-block;
    padding: 0;
    width: inherit;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: var(--ls-secondary-background-color);
    border: 1px solid var(--ls-border-color);
}
/* header */
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row {
    background-color: var(--ls-tertiary-background-color);
    border-bottom: 1px solid var(--ls-border-color);
    padding: 4px 6px;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper {
    width: 100%;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper
    > .flex {
    overflow: hidden;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline,
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline
    .page-ref {
    font-weight: 500;
}
[data-refs-self*=".kanban"] .todo-master-progress-bar {
    max-width: 90%;
}
/* content */
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container {
    margin: 0 !important;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block::before {
    display: none;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block:last-child {
    margin-bottom: 0;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .mr-1 {
    display: none;
}
[data-refs-self*=".kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children {
    padding: 10px 0;
    border: 0;
}
/* disable Bullet theading plugin in kanban parent */
[data-refs-self*="kanban"]
    > .flex
    > .block-content-wrapper::before,
[data-refs-self*="kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex
    > .block-content-wrapper::before,
[data-refs-self*="kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children
    > .ls-block::before,
[data-refs-self*="kanban"]
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex
    > .mr-1::before {
    display: none !important;
}
/*
  <<<< END: #kanban view
*/


/*
  >>> BEGIN: Grid
*/
[data-refs-self*=".grid"] > .block-children-container > .block-children {
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    border: 0;
}
[data-refs-self*=".grid"]
    > .block-children-container
    > .block-children
    > .ls-block {
    padding: 0;
}
[data-refs-self*=".grid"] .block-children-container .mr-1.flex {
    display: none;
}

[data-refs-self*=".grid"] .pr-2 {
    padding: 0;
}
/*
  <<<< END: Grid
*/
