/* :root { */
    /* Source: https://unsplash.com/photos/UXWjx8a13rc */
    /* --solext-bg-url: url(https://images.unsplash.com/photo-1584004400883-35a54de8b74c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    /* --solext-bg-url: none; */ /* Disable bg image */
    /* --solext-bg-shadow: none; */

    /* --solext-banner-asBg: none; */ /* Disable blurred background image from banner */
    /* --solext-banner-iconGlow: none; */ /* Disable icons glow */
    /* --new-bullet-hidden: none; */ /* Show add block (+) bullet */
    /* --headers-labels: none; */ /* Disable H1-H5 labels */
    /* --home-button: none; */ /* Disable hiding home */
/* } */


/*
  >>> BEGIN: Headers lables
*/
.ls-block :is(h1, h2, h3, h4, h5)::after {
  display: var(--headers-labels, inline-block);
  margin-left: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 11px;
  vertical-align: baseline;
  color: var(--ls-primary-text-color);
  font-family: var(--solext-code-font);
  opacity: 0.3;
  transition: opacity 0.3s;
}
.ls-block :is(h1, h2, h3, h4, h5):hover::after {
  opacity: 0.5;
}
.ls-block h1::after {
  content: "h1";
}
.ls-block h2::after {
  content: "h2";
}
.ls-block h3::after {
  content: "h3";
}
.ls-block h4::after {
  content: "h4";
}
.ls-block h5::after {
  content: "h5";
}
.block-ref :is(h1, h2, h3, h4, h5) {
  border-bottom: none;
  font-size: 1em;
}
.block-ref :is(h1, h2, h3, h4, h5)::after {
  display: none;
}
/*
  <<<< END: Headers lables
*/


/* hide home button */
#head .button[title="Home"] {
  display: var(--home-button, flex) !important;
}

/* Add new block (+) bullet */
.add-button-link {
  opacity: calc(var(--new-bullet-hidden, 0) * 1);
}

/* promo */
body.is-awesomelinks .panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="promoAwesomelinks"] {
  display: none;
}
.desc-item[data-key="promoAwesomelinks"] {
  margin: 1em 0;
  font-size: 1.3em;
}
.desc-item[data-key="promoAwesomelinks"] .form-checkbox {
  display: none;
}
