/*
  >>> BEGIN: Presets
*/
.preset-Logseq_original #banner,
.preset-Mia_quattro #banner {
    max-width: unset !important;
    border-radius: 0 !important;
}
.preset-Logseq_original .cp__sidebar-main-content,
.preset-Mia_quattro .cp__sidebar-main-content {
    border-radius: 0 !important;
}
/*
  <<<< END: Presets
*/

/*
  >>> BEGIN: Banners plugin
*/
body:is([data-page="page"],[data-page="home"]).is-banner-active #root {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-image: var(--banner-asBg, var(--pageBanner));
    position: relative;
}
body:is([data-page="page"],[data-page="home"]).is-banner-active #root::before {
    content: "";
    position: absolute;
    display: var(--banner-asBg, block);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-image: var(--pageBanner);
    filter: blur(20px);
}
html[data-theme="dark"] body:is([data-page="page"],[data-page="home"]).is-banner-active #root::before {
    filter: blur(20px) brightness(0.7);
}
body:is([data-page="page"],[data-page="home"]).is-banner-active .cp__sidebar-main-content {
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
body:is([data-page="page"],[data-page="home"]).is-banner-active #main-content-container {
    display: block;
}
/* banner element */
body:is([data-page="page"],[data-page="home"]).is-banner-active #banner {
    max-width: var(--ls-main-content-max-width);
    border-radius: 10px 10px 0 0;
    box-shadow: var(--bg-shadow, rgb(0, 0, 0, 0.1) 0 0 10px 4px);
}
html[data-theme="dark"] body:is([data-page="page"],[data-page="home"]).is-banner-active #banner::before {
    filter: brightness(0.8);
}
body:is([data-page="page"],[data-page="home"]).is-banner-active .ls-wide-mode #banner {
    max-width: var(--ls-main-content-max-width-wide);
}
body:is([data-page="page"],[data-page="home"]).is-banner-active.is-icon-active .cp__sidebar-main-content > div {
    padding-top: 0;
}
body:is([data-page="page"],[data-page="home"]).is-banner-active.is-icon-active .journal-item:first-of-type > .page > .flex-col:first-child > .content > .flex-1::after,
body:is([data-page="page"],[data-page="home"]).is-banner-active.is-icon-active .page > .relative > .flex-row > .flex-1::after {
    position: absolute;
    z-index: 1;
    display: var(--banner-iconGlow, block);
    content: var(--pageIcon) !important;
    filter: blur(18px) opacity(0.2) saturate(1.4);
    top: calc(var(--iconWidth) * -1);
    left: calc(var(--iconWidth) * -0.4);
    font-size: calc(var(--iconWidth) * 1.4);
}
html[data-theme="dark"] body:is([data-page="page"],[data-page="home"]).is-banner-active.is-icon-active .journal-item:first-of-type > .page > .flex-col:first-child > .content > .flex-1::after,
html[data-theme="dark"] body:is([data-page="page"],[data-page="home"]).is-banner-active.is-icon-active .page > .relative > .flex-row > .flex-1::after {
    filter: blur(18px) opacity(0.15) saturate(1.4);
}
#banner-widgets-weather#banner-widgets-weather {
    bottom: 24px;
}
#banner-widgets-weather#banner-widgets-weather .weather_dailyForecastContainerWithDots {
    margin-bottom: 0px !important;
}
/*
  <<<< END: Banners plugin
*/


/*
  >>> BEGIN: Tabs plugin
*/
.is-tabs-loaded #app-container,
.is-tabs-loaded #pdf-layout-container {
    top: var(--solext-tabs-height);
}
.is-tabs-loaded #logseq-tabs_lsp_main {
    height: var(--solext-tabs-height) !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: var(--solext-ui-panels-bg);
}
/* .is-tabs-loaded #left-sidebar {
    top: calc(var(--solext-tabs-height) + var(--solext-head-height));
} */
.is-mac .is-tabs-loaded .cp__header > .l {
    padding-left: 1rem;
}
.is-tabs-loaded.is-search-opened .ui__modal {
    top: calc(var(--solext-tabs-height) + 8px);
}
/*
  <<<< END: Tabs plugin
*/


/*
  >>> BEGIN: Doc View Exporter plugin
*/
.kef-doc-exported #app-container,
.kef-doc-exported #main-content-container {
    top: 0 !important;
}
.kef-doc-exported .add-button-link-wrap {
    display: none;
}
.kef-doc div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] {
    padding: 10px 16px;
}
.kef-doc-icon {
    opacity: 0.5 !important;
}
.kef-doc-icon:hover {
    background-color: none !important;
    opacity: 1 !important;
}
/*
  <<<< END: Doc View Exporter plugin
*/


/*
  >>> BEGIN: Bullet Threading plugin
*/
.bullet-container.bullet-closed {
    background-color: var(--ls-block-bullet-color);
}
a:hover > .bullet-container .bullet {
    background-color: var(--ls-block-bullet-active-color) !important;
}
/*
  <<<< END: Bullet Threading plugin
*/


/*
  >>> BEGIN: TOC gen plugin
*/
/*
.kef-tocgen-page {
    font-weight: 500 !important;
}
*/
.kef-tocgen-block-collapse {
    border-left-color: var(--ls-guideline-color) !important;
}
.kef-tocgen-backtop,
.kef-tocgen-godown {
    z-index: 10;
}
/*
  <<<< END: TOC gen plugin
*/


/*
  >>> BEGIN: Fenced code plus plugin
*/
/*
.mermaid {
    border: 1px solid var(--ls-border-color);
    background-color: var(--ls-tertiary-background-color);
    display: inline-block;
    padding: 10px;
}
.mermaid rect,
.mermaid circle,
.mermaid ellipse,
.mermaid polygon,
.mermaid .divider {
    fill: var(--solext-accent-lighter) !important;
    stroke: var(--solext-accent) !important;
}
.mermaid .edgeLabel .label span {
    background-color: var(--solext-accent-lighter) !important;
}
.mermaid #classDiagram-aggregationStart.aggregation {
    fill: var(--solext-accent-lighter) !important;
}
*/
/*
  <<<< END: Fenced code plus plugin
*/
