/*
  >>> BEGIN: QUERY table
*/
.custom-query {
    margin-top: 1rem;
}
.custom-query-title {
    display: flex;
    padding-left: 36px;
}
.custom-query .color-level,
.custom-query .table-auto {
    margin: 0 0 3px 0;
}
.custom-query > div > .initial {
    position: relative;
}
/* setting button*/
.custom-query .initial > div > .flex.flex-row > .fade-link {
    position: absolute;
    z-index: 1;
    left: -8px;
    top: -26px;
    padding: 0 3px;
    opacity: 1;
    border: 1px solid var(--ls-border-color);
    background-color: var(--ls-secondary-background-color);
}
.custom-query .initial > div .fade-link:hover {
    background-color: var(--ls-primary-background-color);
}
.custom-query .initial > div > .flex.flex-row {
    height: 0;
}
.custom-query .initial > div > .flex.flex-row .text-sm {
    display: none;
}
.custom-query .initial > div > .flex.flex-row .ui__toggle {
    display: flex;
    position: absolute;
    top: -20px;
    right: 0;
}
.custom-query .initial > div > .flex.flex-row .ui__toggle::before {
    content: "\eba1";
    font-family: "tabler-icons";
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin: -8px 4px 0 0;
    color: var(--ls-primary-text-color);
}
.custom-query .initial > div > .overflow-x-auto {
    border-radius: 4px;
    border: 1px solid var(--ls-border-color);
}
.results-count {
    white-space: nowrap;
}
td.whitespace-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 450px;
    overflow: hidden;
}

#today-queries .custom-query {
    border-radius: 4px;
    border: 1px solid var(--ls-border-color);
}

#today-queries .custom-query-title {
    padding: 8px;
    font-size: 0.9em;
}
#today-queries .custom-query .initial .content {
    margin: 0 4px !important;
}
/*
  <<<< END: QUERY table
*/