main {
    border-bottom: 1px solid var(--solext-ui-border);
}
.is-mac main {
    padding-left: 84px;
}
main .flex {
    align-items: flex-end;
}
.light .logseq-tab,
.dark .logseq-tab {
    padding: 4px 8px;
    height: auto;
    color: var(--ls-primary-text-color) !important;
    background-color: var(--solext-ui-content-bg) !important;
    box-shadow: none;
    border-color: var(--solext-ui-border);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.light .logseq-tab[data-active=true],
.dark .logseq-tab[data-active=true] {
    color: var(--ls-primary-text-color) !important;
    background-color: var(--solext-ui-panels-bg) !important;
    box-shadow: var(--solext-link) 0px -1px 1px 0px;
    transform: translateY(1px);
}
.light .logseq-tab div,
.dark .logseq-tab div {
    border: 0;
    background-color: transparent;
}
.light .logseq-tab button:hover,
.dark .logseq-tab button:hover,
.light .logseq-tab[data-active=true] button:hover,
.dark .logseq-tab[data-active=true] button:hover {
    background-color: transparent !important;
}
.logseq-tab-title {
    transition: none;
}
