:root {
        --solext-red: #d3455b;
        --solext-orange: #ffa542;
        --solext-yellow: #f6c423;
        --solext-yellow-light: #f9d86c;
        --solext-green: #27ae9e;
        --solext-blue: #2c89d9;
        --solext-purple: #9c739c;
        --solext-cherry: #955f60;

        --solext-marker-done: var(--solext-blue);
        --solext-marker-now-doing: var(--solext-green);
        --solext-marker-later: var(--solext-orange);
        --solext-marker-todo: var(--solext-red);
        --solext-marker-waiting: var(--solext-yellow);

        --solext-priority-a: var(--solext-red);
        --solext-priority-b: var(--solext-orange);
        --solext-priority-c: var(--solext-green);
}

/*
  >>> BEGIN: Tasks: status recolor
*/
.content .form-checkbox {
    border-radius: 2px;
    border: 1px solid var(--ls-primary-text-color);
}
.content .done .form-checkbox {
    background-color: var(--solext-marker-done);
    opacity: 0.9;
}
.now .block-marker,
.doing .block-marker {
    color: var(--solext-marker-now-doing);
}
.content .now .form-checkbox,
.content .doing .form-checkbox {
    background-color: var(--solext-marker-now-doing);
    opacity: 0.3;
}
.later .block-marker {
    color: var(--solext-marker-later);
}
.content .later .form-checkbox {
    background-color: var(--solext-marker-later);
    opacity: 0.3;
}
.todo .block-marker {
    color: var(--solext-marker-todo);
}
.content .todo .form-checkbox {
    background-color: var(--solext-marker-todo);
    opacity: 0.3;
}
.waiting .block-marker {
    color: var(--solext-marker-waiting);
}
.content .waiting .form-checkbox {
    background-color: var(--solext-marker-waiting);
    opacity: 0.3;
}
/*
  <<<< END: Tasks: status recolor
*/


/*
  >>> BEGIN: Tasks: priority recolor
*/
.priority {
    font-size: 0;
    visibility: hidden;
}
a[priority]::before,
.priority::before {
    display: inline-block;
    content: "";
    border-radius: 100%;
    height: 20px;
    width: 20px;
    visibility: visible;
    margin-right: 5px;
    margin-bottom: -4px;
    -webkit-mask: var(--solext-priority-bg) no-repeat 50% 50%;
    mask: var(--solext-priority-bg) no-repeat 50% 50%;
}
a[priority="A"]::before,
.priority[href="#/page/A"]::before {
    --solext-priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFycm93LXVwLWNpcmNsZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGRlc2M+RG93bmxvYWQgbW9yZSBpY29uIHZhcmlhbnRzIGZyb20gaHR0cHM6Ly90YWJsZXItaWNvbnMuaW8vaS9hcnJvdy11cC1jaXJjbGU8L2Rlc2M+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIj48L3BhdGg+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iOSI+PC9jaXJjbGU+PGxpbmUgeDE9IjEyIiB5MT0iOCIgeDI9IjgiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjgiIHgyPSIxMiIgeTI9IjE2Ij48L2xpbmU+PGxpbmUgeDE9IjE2IiB5MT0iMTIiIHgyPSIxMiIgeTI9IjgiPjwvbGluZT48L3N2Zz4=);
    background-color: var(--solext-priority-a);
}
a[priority="B"]::before,
.priority[href="#/page/B"]::before {
    background-color: var(--solext-priority-b);
    --solext-priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWNpcmNsZS1kb3QiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxkZXNjPkRvd25sb2FkIG1vcmUgaWNvbiB2YXJpYW50cyBmcm9tIGh0dHBzOi8vdGFibGVyLWljb25zLmlvL2kvY2lyY2xlLWRvdDwvZGVzYz48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiPjwvcGF0aD48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxIj48L2NpcmNsZT48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI5Ij48L2NpcmNsZT48L3N2Zz4=);
}
a[priority="C"]::before,
.priority[href="#/page/C"]::before {
    background-color: var(--solext-priority-c);
    --solext-priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFycm93LWRvd24tY2lyY2xlIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48ZGVzYz5Eb3dubG9hZCBtb3JlIGljb24gdmFyaWFudHMgZnJvbSBodHRwczovL3RhYmxlci1pY29ucy5pby9pL2Fycm93LWRvd24tY2lyY2xlPC9kZXNjPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjkiPjwvY2lyY2xlPjxsaW5lIHgxPSI4IiB5MT0iMTIiIHgyPSIxMiIgeTI9IjE2Ij48L2xpbmU+PGxpbmUgeDE9IjEyIiB5MT0iOCIgeDI9IjEyIiB5Mj0iMTYiPjwvbGluZT48bGluZSB4MT0iMTYiIHkxPSIxMiIgeDI9IjEyIiB5Mj0iMTYiPjwvbGluZT48L3N2Zz4=);
}
a.tooltip-priority {
    transition: none;
}
/*
  <<<< END: Tasks: priority recolor
*/
