:root {
    --solext-tabs-height: 40px;
    --solext-head-height: 48px;
    --solext-ui-text-size: 13px;

    --solext-font-os-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --solext-font-fira-code: "FiraCode Nerd Font", "Fira Code", Monaco, Menlo, Consolas, "COURIER NEW", monospace;

    --solext-code-font: var(--solext-font-fira-code);
    --solext-ui-font: var(--solext-font-os-system);

    --solext-red: #d3455b;
    --solext-orange: #ff9900;
    --solext-yellow-dark: #e6af19;
    --solext-yellow: #f9d86c;
    --solext-green: #27ae9e;
    --solext-blue: #2c89d9;
    --solext-purple: #9c739c;
    --solext-cherry: #bc8062;

    --solext-gray: #AAAAAA60;

}


/*
  >>> BEGIN: Layout
*/
.theme-inner {
    width: 100vw;
    height: 100vh;
}

#app-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#main-container {
    position: fixed;
    top: var(--solext-head-height);
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: none;
}

#main-content-container#main-content-container {
    flex-wrap: wrap;
}

#main-content-container:focus-visible {
    outline: none;
}

#head>.r {
    height: 100%;
    flex: unset;
    flex-basis: 100%;
    justify-content: flex-start;
}

#left-container {
    z-index: 13;
    transform: translate3d(0, 0, 0);
}

body.is-pdf-active #app-container {
    padding-left: calc(var(--ph-view-container-width));
}

/*
  <<<< END: Layout
*/


/*
  >>> BEGIN: Tabs plugin
*/
.is-tabs-loaded #app-container,
.is-tabs-loaded #pdf-layout-container {
    top: var(--solext-tabs-height);
}

.is-tabs-loaded #logseq-tabs_lsp_main {
    height: var(--solext-tabs-height) !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: var(--solext-ui-panels-bg, var(--ls-secondary-background-color));
    -webkit-app-region: drag;
}

html.is-mac .is-tabs-loaded .cp__header>.l {
    padding-left: 1rem;
}

.is-tabs-loaded.is-search-opened .ui__modal {
    top: calc(var(--solext-tabs-height) + 8px);
}

/*
  <<<< END: Tabs plugin
*/


/*
  >>> BEGIN: TOC gen plugin
*/
.kef-tocgen-block-collapse {
    border-left-color: var(--ls-guideline-color) !important;
}

.kef-tocgen-backtop,
.kef-tocgen-godown {
    z-index: 20 !important;
}

/*
  <<<< END: TOC gen plugin
*/

/*
  >>> BEGIN: TextWrapper plugin
*/
#kef-wrap-toolbar {
    transform: translateY(calc(var(--solext-head-height) * -1));
}

/*
  <<<< END: TextWrapper plugin
*/


/*
  >>> BEGIN: Doc View Exporter plugin
*/
.kef-doc-exported #app-container,
.kef-doc-exported #main-content-container {
    top: 0 !important;
}

.kef-doc-exported .add-button-link-wrap {
    display: none;
}

.kef-doc div:not(.initial)>div>div>div>[data-refs-self='["quote"]'] {
    padding: 10px 16px;
}

.kef-doc-icon {
    opacity: 0.5 !important;
}

.kef-doc-icon:hover {
    background-color: none !important;
    opacity: 1 !important;
}

/*
  <<<< END: Doc View Exporter plugin
*/


/*
  >>> BEGIN: Head toolbar
*/
#left-container {
    overflow: visible;
}

.ls-right-sidebar-open #head {
    width: 100vw;
    position: absolute;
}

/* head left part */
#head>.l {
    flex-basis: 140px;
    width: unset !important;
    justify-content: unset !important;
}

html.is-mac:not(.is-fullscreen) body:not(.is-tabs-loaded) #head>.l {
    flex-basis: 208px;
}

/* left sidebar toggle button*/
#head .ti-menu-2::before {
    content: "\f005";
}

.ls-left-sidebar-open #head .ti-menu-2::before {
    content: "\f004";
}

/* arrows navigation */
#head>.r>.flex {
    position: absolute;
    left: -74px;
}

/* head right part */
html.is-mac body:not(.is-pdf-active):not(.is-tabs-loaded) #head>.r>.flex {
    left: calc(-1 * var(--ls-left-sidebar-width) + 178px);
}

#head>.r::before {
    content: "";
    margin-left: auto;
}

#head .button {
    opacity: 0.6;
}

#head .button:hover {
    opacity: 1;
}

#head .button .ti {
    opacity: 1;
}

/* settings dot button */
#head .ui__dropdown-trigger .button {
    opacity: 1;
}

/* right sidebar toggle button*/
#head .toggle-right-sidebar {
    display: flex;
    height: 30px;
}

#head .ti-layout-sidebar-right::before {
    content: "\f007";
}

.ls-right-sidebar-open #head .ti-layout-sidebar-right::before {
    content: "\f006";
}

.cp__right-sidebar-settings~div {
    display: none;
}

/*
  <<<< END: Head toolbar
*/

/*
  >>> BEGIN: Left sidebar
*/
#left-sidebar {
    padding-top: 0 !important;
}

#left-sidebar .left-sidebar-inner {
    transition: none;
}

#left-sidebar .left-sidebar-inner>.wrap {
    margin-top: 0;
}

#left-sidebar .flashcards-nav .ti-infinity::before,
#left-sidebar .cards-review .ti-infinity::before {
    content: "\ea38";
}

.text-sm {
    font-size: var(--solext-ui-text-size);
    font-family: var(--solext-ui-font);
}

.text-sm li {
    margin: 0;
}

#left-sidebar .item {
    padding: 5px 8px;
    transition: none;
}

#left-sidebar .item:hover {
    opacity: 0.6;
}

#left-sidebar .nav-content-item a {
    transition: none;
}

#left-sidebar .left-sidebar-inner .page-icon i {
    display: none;
}

#left-sidebar .left-sidebar-inner .new-page {
    display: none;
}

/*
  <<<< END: Left sidebar
*/


/*
  >>> BEGIN: Right sidebar
*/
#right-sidebar {
    position: relative;
    top: var(--solext-head-height);
    transition: none;
}

#right-sidebar .text-sm {
    font-size: var(--solext-ui-text-size);
}

/*
  <<<< END: Right sidebar
*/


/*
  >>> BEGIN: Popups: Search
*/
/* search filed position */
#search-button {
    display: none;
}

.is-search-reordered #search-button {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    overflow: hidden;
    height: 34px;
    margin: 0 auto 0 0;
    padding: 0 6px;
    border-radius: 5px;
    border: 1px solid var(--solext-gray);
    background-color: var(--ls-primary-background-color);
    transition: all .3s;
    font-family: var(--solext-ui-font);
}

.is-search-reordered #search-button::after {
    display: block;
    content: "Search...";
    margin: 2px 0 0 5px;
    font-size: calc(var(--solext-ui-text-size) + 2px);
}

@media (min-width: 1024px) {
    .is-search-reordered #search-button::after {
        content: "Search or create page";
    }
}

/* search popup position */
.is-search-opened .ui__modal {
    top: 8px;
    padding: 0;
}

.ui__modal .ui__modal-panel {
    transition: none;
}

.ui__modal .ls-search {
    border-radius: 5px;
    border: 1px solid var(--solext-gray);
}

@media (min-width: 768px) {
    .ui__modal .ls-search {
        width: 740px;
    }
}

@media (min-width: 1024px) {
    .is-search-opened .ui__modal {
        left: 131px;
        justify-content: flex-start;
    }

    .cp__palette-main,
    .cp__select-main {
        width: auto;
    }

    html.is-mac .is-search-opened:not(.is-tabs-loaded) .ui__modal {
        left: 190px;
    }

    .is-pdf-active.is-search-opened .ui__modal {
        left: calc(var(--ph-view-container-width) + 120px);
    }
}

@media (min-width: 1200px) {
    .ui__modal-panel .panel-content .ls-search {
        width: var(--ls-main-content-max-width);
    }
}

/* search results style */
.ui__modal .ls-search .input-wrap {
    height: 38px;
}

.ui__modal .ls-search .input-wrap::before {
    font-family: "tabler-icons";
    content: "\eb1c";
    width: 22px;
    height: 22px;
    font-size: 20px;
    position: absolute;
    left: 7px;
    top: 0;
}

.ui__modal .ls-search .input-wrap .cp__palette-input {
    font-size: calc(var(--solext-ui-text-size) + 2px);
    padding: 5px 32px 3px 32px;

}

/*
  <<<< END: Popups: Search
*/


/*
  >>> BEGIN: Settings popup
*/
.ui__modal {
    font-family: var(--solext-ui-font);
}

.ui__modal .settings-modal {
    font-size: 16px;
}

.ui__modal-overlay>div {
    opacity: 0.5;
}

.is-settings-opened .ui__modal-overlay>div {
    opacity: 0;
}

.ui__modal.is-sub-modal .ui__modal-overlay>div {
    opacity: 0;
}

@media (min-width: 640px) {
    .ui__modal-panel .panel-content {
        min-width: 1000px;
    }
}

.settings-modal .form-input:not(.color-input-helper) {
    background-color: var(--ls-primary-background-color) !important;
}

.settings-modal .form-input:focus {
    border-color: transparent;
    background-color: none;
    box-shadow: 0px 0px 4px var(--solext-gray);
}

.settings-modal .form-checkbox {
    margin-right: 6px;
    background-color: var(--solext-gray);
}

.settings-modal .form-checkbox:hover {
    transform: none;
}

.settings-modal .form-radio {
    color: var(--solext-gray);
    background-color: var(--solext-gray);
}

.settings-modal .form-radio:focus {
    box-shadow: none;
}

.settings-modal .form-select:focus {
    border-color: transparent;
    background-color: var(--ls-primary-background-color);
    box-shadow: 0px 0px 4px var(--solext-gray);
}

.settings-modal .form-select option {
    background-color: var(--ls-primary-background-color);
    color: var(--ls-primary-text-color);
}

html[data-theme="dark"] .ui__modal .ui__button {
    opacity: 0.8 !important;
}

html[data-theme="dark"] .ui__modal .ui__button:hover {
    opacity: 0.9 !important;
}

.cp__plugins-page {
    /* more space to see last row plugins "uninstall" menu item ;) */
    padding: 1.5rem 2rem 5rem 2rem;
}

.cp__plugins-page .text-xl {
    font-size: 16px;
}

.cp__plugins-item-card>.r .ctl .de .menu-list>li:hover {
    background-color: var(--ls-secondary-background-color);
}

.settings-modal .heading-item {
    color: var(--ls-link-text-color);
    border-color: var(--ls-link-text-color);
    padding-bottom: 3px;
}


.settings-modal .desc-item :is(h2, strong) {
    font-weight: 500 !important;
}

.settings-modal .desc-item {
    position: relative;
    padding: 8px 8px;
    margin: 0 12px;
}

.settings-modal .desc-item+.desc-item {
    border-top: 1px solid var(--solext-gray);
}

.settings-modal .desc-item>.form-control {
    padding: 0;
}

.settings-modal .desc-item>h2 :is(code, .ti-caret-right) {
    display: none;
}

.settings-modal .desc-item .wrap .pl-1 {
    padding: 0;
}

.settings-modal .cp__settings-inner aside ul > li > a {
    padding: 6px 10px;
}

.settings-modal .cp__plugins-settings aside ul :is(img, svg) {
    height: 30px;
    width: 30px;
    margin: 0;
}

.settings-modal .settings-plugin-item[data-id="logseq-solarized-extended-theme"] strong {
    max-width: 12ex;
    text-overflow: clip;
    margin-right: auto;
}

.cp__plugins-settings-inner>.edit-file {
    z-index: 1;
}


/* settings headers and features icons */
.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item h2::before,
.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key] small::before {
    display: inline-block;
    margin-right: 4px;
    font-family: "tabler-icons";
    font-size: 16px;
    font-weight: normal;
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item h2::before {
    font-size: 22px;
    line-height: 0;
    transform: translateY(3px);
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key] small::before {
    transform: translateY(1px);
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="presetHeading"] h2::before {
    content: "\ebcb";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="fontsHeading"] h2::before {
    content: "\ebc5";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="colorLightHeading"] h2::before {
    content: "\eb30";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="colorDarkHeading"] h2::before {
    content: "\eaf8";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="backgroundHeading"] h2::before {
    content: "\eb0a";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="featureHeading"] h2::before {
    content: "\ea38";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="bannersPluginHeading"] h2::before {
    content: "\ead7";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .heading-item[data-key="sizeHeading"] h2::before {
    content: "\ee7b";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureFaviconsEnabled"] small::before {
    content: "\eb2e";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureTasksEnabled"] small::before {
    content: "\eb6a";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureColumnsEnabled"] small::before {
    content: "\ec3f";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureHeadersLabelsEnabled"] small::before {
    content: "\eb34";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureStickyHeadersEnabled"] small::before {
    content: "\ed60";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureNewBlockBulletEnabled"] small::before {
    content: "\ea69";
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="featureHomeButtonEnabled"] small::before {
    content: "\eac1";
}
/*
  <<<< END: Settings popup
*/


/*
  >>> BEGIN: Thems popup
*/
.cp__themes-installed .it {
    background-color: transparent;
    transition: none;
}

.cp__themes-installed .opacity-60 {
    display: none;
}

/*
  <<<< END: Thems popup
*/

/* Dropdowns */
.dropdown-wrapper {
    z-index: 11;
}


/* "App pages" page*/
.cp__all_pages .actions {
    margin: 0 -30px;
    padding: 0 30px;
    border: 1px solid var(--ls-border-color);
}


/* "Journal" page */
.journal-title .title,
.ls-page-title {
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
}


/* calendar picker */
.datepicker td.available:hover,
.datepicker th.available:hover,
.datepicker td.active,
.datepicker td.active:hover,
.dark-theme .datepicker td.available:hover,
.dark-theme .datepicker th.available:hover .dark-theme .datepicker td.active,
.dark-theme .datepicker td.active:hover {
    background-color: var(--ls-link-text-color) !important;
    border-color: var(--ls-border-color) !important;
    color: var(--ls-primary-background-color) !important;
}


/* today queries */
#today-queries {
    margin-bottom: 16px;
}

#today-queries .lazy-visibility {
    min-height: unset !important;
}


/* Code */
:not(pre)>code {
    font-family: var(--solext-code-font);
}

.CodeMirror {
    font-family: var(--solext-code-font);
    line-height: 1.4em;
}

.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
    text-shadow: none;
}

/* props */
.page-properties {
    margin-bottom: 1.2em !important;
}

/* references */
:is(.references-blocks, .custom-query) .foldable-title .page-ref::before {
    content: '\eaa2';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    transform: translateY(1px);
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons !important;
}
/* linked */
.page > div:nth-last-child(2) .references .foldable-title h2::before {
    content: '\eade';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons !important;
}
/* unlinked */
.page > div:nth-last-child(1) .references .foldable-title h2::before {
    content: '\eb46';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons !important;
}
/* hierarchy */
.page-hierarchy .foldable-title h2::before {
    content: '\eb9d';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons !important;
}

/*
  >>> BEGIN: Styling options OFF
*/
.panel-wrap[data-id="logseq-solarized-extended-theme"] :is([data-key^="preset"],
    [data-key^="font"],
    [data-key^="color"],
    [data-key^="background"],
    [data-key^="banners"]) {
    display: none;
}

.panel-wrap[data-id="logseq-solarized-extended-theme"] .desc-item[data-key="presetCustom"] {
    display: none;
}

/*
  <<<< END: Styling options OFF
*/

/* Fixes */
.ti-puzzle:before {
    content: "\eb10" !important;
}