/*
  >>> BEGIN: Settings modal
*/
.ui__modal {
    font-family: var(--awSt-ui-font);
}
.ui__modal .settings-modal {
    font-size: 16px;
}
.ui__modal-overlay>div {
    opacity: 0.5;
}
.is-settings-opened .ui__modal-overlay>div {
    opacity: 0;
}
.ui__modal.is-sub-modal .ui__modal-overlay>div {
    opacity: 0;
}
@media (min-width: 640px) {
    .ui__modal-panel .panel-content {
        min-width: 1000px;
    }
}
.ui__modal .ui__modal-panel > .absolute {
    z-index: 10;
}
/*
  <<<< END: Settings modal
*/


/*
  >>> BEGIN: Settings plugins list
*/
.settings-modal .cp__settings-inner aside ul > li > a {
    padding: 6px 10px;
}
.settings-modal .cp__plugins-settings aside ul :is(img, svg) {
    height: 30px;
    width: 30px;
    margin: 0;
}
/*
  <<<< END: Settings plugins list
*/


/*
  >>> BEGIN: Settings form
*/
html[data-theme="dark"] .ui__modal .ui__button {
    opacity: 0.8 !important;
}
html[data-theme="dark"] .ui__modal .ui__button:hover {
    opacity: 0.9 !important;
}
.cp__plugins-settings-inner>.edit-file {
    z-index: 1;
}
.settings-modal .heading-item {
    color: var(--ls-link-text-color);
    border-color: var(--ls-link-text-color);
    padding-bottom: 3px;
}
.settings-modal .desc-item {
    position: relative;
    padding: 8px 8px;
    margin: 0 12px;
}
.settings-modal .desc-item+.desc-item {
    border-top: 1px solid #AAAAAA60;
}
.settings-modal .desc-item :is(h2, strong) {
    font-weight: 500 !important;
}
.settings-modal .desc-item>.form-control {
    padding: 0;
}
.settings-modal .form-input:not(.color-input-helper) {
    background-color: var(--ls-primary-background-color) !important;
}
.settings-modal .form-input:focus {
    border-color: transparent;
    background-color: none;
    box-shadow: 0px 0px 4px var(--ls-link-text-color);
}
.settings-modal .form-checkbox {
    margin-right: 6px;
    background-color: var(--ls-link-text-color);
}
.settings-modal .form-checkbox:hover {
    transform: none;
}
.settings-modal .form-radio {
    color: var(--ls-link-text-color);
    background-color: var(--ls-link-text-color);
}
.settings-modal .form-radio:focus {
    box-shadow: none;
}
.settings-modal .form-select:focus {
    border-color: transparent;
    background-color: var(--ls-primary-background-color);
    box-shadow: 0px 0px 4px var(--ls-link-text-color);
}
.settings-modal .form-select option {
    background-color: var(--ls-primary-background-color);
    color: var(--ls-primary-text-color);
}
.settings-modal .desc-item>h2 :is(code, .ls-icon-caret-right) {
    display: none;
}
.settings-modal .desc-item .wrap .pl-1 {
    padding: 0;
}
/*
  <<<< END: Settings form
*/


/*
  >>> BEGIN: Themes popup
*/
.cp__themes-installed .text-xs .opacity-60 {
    display: none;
}
/*
  <<<< END: Themes popup
*/


/*
  >>> BEGIN: Presets
*/
.awSt-preset-Logseq_original #banner,
.awSt-preset-Mia_quattro #banner {
    max-width: unset !important;
    border-radius: 0 !important;
}
.awSt-preset-Logseq_original .cp__sidebar-main-content,
.awSt-preset-Mia_quattro .cp__sidebar-main-content {
    border-radius: 0 !important;
}
/*
  <<<< END: Presets
*/


/*
  >>> BEGIN: Settings
*/
/* User in dark mode - hiding "light" mode items */
.dark-theme
    .cp__plugins-settings
    :is(.heading-item, .desc-item)[data-key^='colorLight'] {
    display: none;
}
/* User in light mode - hiding "dark" mode items */
.light-theme
    .cp__plugins-settings
    :is(.heading-item, .desc-item)[data-key^='colorDark'] {
    display: none;
}
.panel-wrap[data-id='logseq-awesome-styler']
    [data-key='presetName']
    small {
    display: block;
}
.panel-wrap[data-id='logseq-awesome-styler']
    [data-key='presetName']
    .form-select {
    float: left;
}
.panel-wrap[data-id='logseq-awesome-styler'] .preset-clone-button {
    margin: 3px 0px 0px 6px;
    display: inline-block;
    border: 1px solid #AAAAAA60;
    font-size: var(--awSt-ui-text-size);
}
.panel-wrap[data-id='logseq-awesome-styler']
    .preset-clone-button
    .ti {
    font-size: var(--awSt-content-font-size);
}
.awSt-preset-Custom
    .panel-wrap[data-id='logseq-awesome-styler']
    .preset-clone-button {
    display: none;
}

.ui__modal .cp__settings-inner > article {
    overflow: unset;
}
.panel-wrap[data-id='logseq-awesome-styler'] {
    transform: translate3d(0, 0, 0);
}
.panel-wrap[data-id='logseq-awesome-styler']
    .desc-item.as-input[data-key^='color']
    .form-control {
    width: 140px !important;
}
.panel-wrap[data-id='logseq-awesome-styler'] .color-input-helper {
    width: 90px !important;
    cursor: pointer;
    border: 1px solid currentColor;
    text-transform: uppercase;
}
.panel-wrap[data-id='logseq-awesome-styler'] .pcr-app[data-theme='monolith'] {
    width: 270px;
}
.panel-wrap[data-id='logseq-awesome-styler']
    :is(input, select):disabled {
    cursor: not-allowed;
}

/* Colors floating */
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) {
    width: 106px;
    float: left;
    margin: 0;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) small {
    display: none;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(
    .desc-item[data-key="colorLightTitleText"],
    .desc-item[data-key="colorDarkTitleText"],
    .desc-item[data-key="colorLightLink"],
    .desc-item[data-key="colorDarkLink"],
    .desc-item[data-key="colorLightH1"],
    .desc-item[data-key="colorDarkH1"],
    .desc-item[data-key="colorLightMarkBg"],
    .desc-item[data-key="colorDarkMarkBg"],
    .desc-item[data-key="colorLightQuoteBg"],
    .desc-item[data-key="colorDarkQuoteBg"]) {
        clear: both;
}
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key$="UiPanelsBg"] {
    border-top: 1px solid #AAAAAA60;
}
.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="backgroundHeading"] {
    clear: both;
    padding-top: 16px;
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Settings icons
*/
.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before,
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    display: inline-block;
    margin-right: 4px;
    font-family: "tabler-icons";
    font-size: 16px;
    font-weight: normal;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before {
    font-size: 22px;
    line-height: 0;
    transform: translateY(3px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    transform: translateY(1px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="presetHeading"] h2::before {
    content: "\ebcb";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="fontHeading"] h2::before {
    content: "\ebc5";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorLightHeading"] h2::before {
    content: "\eb30";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorDarkHeading"] h2::before {
    content: "\eaf8";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="backgroundHeading"] h2::before {
    content: "\eb0a";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="bannersPluginHeading"] h2::before {
    content: "\ead7";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="sizeHeading"] h2::before {
    content: "\ee7b";
}

/*
  <<<< END: Settings icons
*/


/* promo */
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeLinks"] {
    display: none;
}
body:not(.is-awesomeLinks) .panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeLinks"] {
    display: block;
}
.desc-item[data-key="promoAwesomeLinks"] {
    margin: 1em 0 !important;
    font-size: 1.3em;
}
.desc-item[data-key="promoAwesomeLinks"] .form-checkbox {
    display: none;
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeUI"] {
    display: none;
}
body:not(.is-awesomeUI) .panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key="promoAwesomeUI"] {
    display: block;
}
.desc-item[data-key="promoAwesomeUI"] {
    margin: 1em 0 !important;
    font-size: 1.3em;
}
.desc-item[data-key="promoAwesomeUI"] .form-checkbox {
    display: none;
}