/*
  >>> BEGIN: Backgrounds
*/
html[data-theme=light],
html[data-theme=dark] {
    background-color: var(--awSt-ui-body-bg-user);
}
#app-container,
#main-container,
#right-sidebar .cp__right-sidebar-topbar {
    background-color: transparent;
}
body[data-awst-bg-image] #head {
    background-color: var(--awSt-ui-rsidebar-bg);
}
.cp__sidebar-main-content > div,
.cp__sidebar-main-content > div {
    background-color: var(--ls-primary-background-color);
    border-radius: 10px;
}
body[data-page="whiteboard"] .cp__sidebar-main-content > div,
body[data-page="graph"] .cp__sidebar-main-content > div {
    border-radius: 0;
}
#right-sidebar {
    background-color: var(--awSt-ui-rsidebar-bg);
}
#left-sidebar .left-sidebar-inner {
    background-color: var(--awSt-ui-lsidebar-bg);
}
/*
<<<< END: Backgrounds
*/

/*
  >>> BEGIN: Image bg
*/
html[data-theme=light] body::before,
html[data-theme=dark] body::before {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: var(--awSt-bg-url);
    filter: brightness(0.8) contrast(0.6);
}
body[data-page="whiteboard"],
body[data-page="graph"] {
    background: none;
}
/*
  <<<< END: Image bg
*/
