@import url("./settingsForms.css");

[data-is-ls-settings-opened] .ui__modal,
[data-is-awst-settings-popup-opened] .ui__modal {
    justify-content: flex-end !important;
}
[data-is-ls-settings-opened] .ui__modal-overlay > div,
[data-is-awst-settings-popup-opened] .ui__modal-overlay > div {
    opacity: 0;
}

.cp__settings-inner > aside ul > li.active,
.cp__settings-inner > aside ul > li:hover {
    background-color: var(--ls-primary-background-color);
}

.cp__settings-inner aside strong {
    color: var(--ls-primary-text-color);
}
.cp__settings-inner aside a:hover strong {
    color: var(--ls-link-text-hover-color);
}


/*
  >>> BEGIN: Settings
*/
/* User in dark mode - hiding "light" mode items */
.dark-theme .panel-wrap[data-id='logseq-awesome-styler'] :is(.heading-item, .desc-item)[data-key*='light'],
.dark-theme .panel-wrap[data-id='logseq-awesome-styler'] :is(.heading-item, .desc-item)[data-key*='Light'] {
    display: none;
}
/* User in light mode - hiding "dark" mode items */
.light-theme .panel-wrap[data-id='logseq-awesome-styler'] :is(.heading-item, .desc-item)[data-key*='dark'],
.light-theme .panel-wrap[data-id='logseq-awesome-styler'] :is(.heading-item, .desc-item)[data-key*='Dark'] {
    display: none;
}

/* Presets */
.panel-wrap[data-id='logseq-awesome-styler'] [data-key^='presetCustom'] {
    display: none;
}
.panel-wrap[data-id='logseq-awesome-styler'] [data-key='presetName'] small {
    display: block;
}
.panel-wrap[data-id='logseq-awesome-styler'] [data-key='presetName'] .form-select {
    float: left;
}
.panel-wrap[data-id='logseq-awesome-styler'] .preset-clone-button {
    margin: 3px 0px 0px 6px;
    display: inline-block;
    border: 1px solid #88888850;
    font-size: var(--awSt-ui-text-size);
}
.panel-wrap[data-id='logseq-awesome-styler'] .preset-clone-button .ti {
    font-size: var(--awSt-content-font-size);
}

body[data-awst-preset^="Custom"] .panel-wrap[data-id='logseq-awesome-styler'] .preset-clone-button {
    display: none;
}

.cp__settings-inner > article {
    overflow: unset;
}
.panel-wrap[data-id='logseq-awesome-styler'] {
    transform: translate3d(0, 0, 0);
}
.panel-wrap[data-id='logseq-awesome-styler'] .desc-item.as-input[data-key^='color'] .form-control {
    width: 140px !important;
}
.panel-wrap[data-id='logseq-awesome-styler'] .color-input-helper {
    width: 90px !important;
    cursor: pointer;
    border: 1px solid currentColor;
    text-transform: uppercase;
}
.panel-wrap[data-id='logseq-awesome-styler'] .pcr-app[data-theme='monolith'] {
    width: 270px;
}
.panel-wrap[data-id='logseq-awesome-styler']
    :is(input, select):disabled {
    cursor: not-allowed;
}

.settings-modal .form-select {
    width: 200px !important;
}


/* Fonts */
.panel-wrap[data-id="logseq-awesome-styler"] :is(
    [data-key^="fontContentName"],
    [data-key^="fontContentSize"],
    [data-key^="fontUiName"],
    [data-key^="fontUiSize"]
) {
    float: left;
    width: 40%;
    margin: 0 !important;

}
.panel-wrap[data-id="logseq-awesome-styler"] [data-key^="fontUiName"] {
    clear: both;
}


/* Colors floating */
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) {
    width: 106px;
    float: left;
    margin: 0;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(.desc-item[data-key^="colorLight"], .desc-item[data-key^="colorDark"]) small {
    display: none;
}
.panel-wrap[data-id="logseq-awesome-styler"] :is(
    .desc-item[data-key="colorLightUiBodyBg"],
    .desc-item[data-key="colorDarkUiBodyBg"],
    .desc-item[data-key="colorLightTitleText"],
    .desc-item[data-key="colorDarkTitleText"],
    .desc-item[data-key="colorLightLink"],
    .desc-item[data-key="colorDarkLink"],
    .desc-item[data-key="colorLightH1"],
    .desc-item[data-key="colorDarkH1"],
    .desc-item[data-key="colorLightMarkBg"],
    .desc-item[data-key="colorDarkMarkBg"],
    .desc-item[data-key="colorLightQuoteBg"],
    .desc-item[data-key="colorDarkQuoteBg"],
    .desc-item[data-key="colorLightFlashcardBg"],
    .desc-item[data-key="colorDarkFlashcardBg"],
    .desc-item[data-key="colorLightInlineCodeBg"],
    .desc-item[data-key="colorDarkInlineCodeBg"]) {
        clear: both;
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item:not([data-key^="color"]) {
    margin: 0 12px 0 32px;
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Settings icons
*/
.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before,
.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    display: inline-block;
    margin-right: 4px;
    font-family: "tabler-icons";
    font-size: 16px;
    font-weight: normal;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item h2::before {
    font-size: 22px;
    line-height: 0;
    transform: translateY(3px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .desc-item[data-key] small::before {
    transform: translateY(1px);
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="presetHeading"] h2::before {
    content: "\ebcb";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="fontHeading"] h2::before {
    content: "\ebc5";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorLightHeading"] h2::before {
    content: "\eb30";
    margin-top: 24px;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="colorDarkHeading"] h2::before {
    content: "\eaf8";
    margin-top: 24px;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="backgroundHeading"] h2::before {
    content: "\eb0a";
    margin-top: 24px;
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="bannersPluginHeading"] h2::before {
    content: "\ead7";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="sizeHeading"] h2::before {
    content: "\ee7b";
}

.panel-wrap[data-id="logseq-awesome-styler"] .heading-item[data-key="otherHeading"] h2::before {
    content: "\ea03";
}

/*
  <<<< END: Settings icons
*/

/* warnings*/
body:not([data-awst-theme]) .panel-wrap[data-id="logseq-awesome-styler"]::before {
    content: '⚠ Switch to "Awesome Styler" theme to enable settings';
}
body:not([data-awst-theme]) .panel-wrap[data-id="logseq-awesome-styler"] .cp__plugins-settings-inner {
    display: none;
}

