del {
    color: var(--awSt-content-text-op-user);
}
blockquote {
    border-radius: 4px;
}
html[data-theme='dark'] .cp__header a {
    color: var(--ls-primary-text-color);
}
b,
strong {
    color: var(--awSt-content-text-bold);
    opacity: 0.95;
}
i:not(.ti),
em {
    color: var(--awSt-content-text-italic);
}
textarea {
    line-height: var(--ls-page-text-line-height);
}


/*
  >>> BEGIN: H1-H6
*/
.editor-inner .uniline-block.h1,
.ls-block h1 {
    font-size: 1.8em;
    min-height: 1.5em;
}
.editor-inner .uniline-block.h2,
.ls-block h2 {
    font-size: 1.5em;
    min-height: 1.5em;
}
.editor-inner .uniline-block.h3,
.ls-block h3 {
    font-size: 1.17em;
    min-height: 1.17em;
}
.editor-inner .uniline-block.h4,
.ls-block h4 {
    font-size: 1em;
    min-height: 1em;
}
.editor-inner .uniline-block.h5,
.ls-block h5 {
    font-size: 0.93em;
    min-height: 0.93em;
}
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5),
.ls-block :is(h1, h2, h3, h4, h5) {
    border: 0;
    margin: 0.3em 0 0 0;
}
:not(.block-ref) .editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5),
:not(.block-ref) .ls-block :is(h1, h2, h3, h4, h5) {
    transform: translateY(-4px);
}

.content h1:not(.title) {
    color: var(--awSt-h1-user);
}
.content h2 {
    color: var(--awSt-h2-user);
}
.content h3 {
    color: var(--awSt-h3-user);
}
.content h4 {
    color: var(--awSt-h4-user);
}
.content h5 {
    color: var(--awSt-h5-user);
}
.content h6 {
    color: var(--awSt-h6-user);
}

h1.title {
    color: var(--ls-title-text-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
/*
  <<<< END: H1-H6
*/


/*
  >>> BEGIN: Internal inks
*/
.page-ref {
    border-radius: 4px;
}
.page-ref:hover,
.references-blocks .page-reference:hover {
    background-color: var(--awSt-link-hover-bg-color);
}
/* Block reference */
.block-ref {
    font-style: italic;
    border-bottom: 1px dashed currentColor;
}
.block-ref::before {
    content: '\ea17';
    font-family: 'tabler-icons';
    color: var(--ls-link-text-color);
    margin: 0 4px 0 0;
}
.block-properties .page-property-key {
    color: var(--ls-primary-text-color);
    font-weight: normal;
}
/*
  <<<< END: Internal inks
*/


/*
  >>> BEGIN: Tags
*/
a.tag {
    padding: 0 4px;
    border-radius: 4px;
    font-family: var(--awSt-font-mulish);
    font-weight: normal;
    font-size: calc(var(--awSt-content-font-size) - 2px);
    background-color: var(--awSt-tag-bg-color);
    opacity: 0.8;
}
a.tag:hover {
    opacity: 1;
}
/*
  <<<< END: Tags
*/


/*
  >>> BEGIN: External links
*/
.external-link {
    padding: 2px 4px;
    border-radius: 4px;
    border: 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: var(--awSt-link-ext);
}
.external-link:hover {
    color: var(--awSt-link-ext);
    background-color: var(--awSt-link-ext-hover-bg-color);
}
/*
  <<<< END: External links
*/


/*
  >>> BEGIN: Tables
*/
.cp__sidebar-main-content table {
    background-color: var(--ls-primary-background-color);
}
.cp__sidebar-main-content th,
td {
    padding: 0.2rem;
}
/*
  <<<< END: Tables
*/


/*
  >>> BEGIN: Code
*/
:not(pre):not(mark)>code {
    padding: 2px 5px !important;
    border: 1px solid var(--ls-border-color);
    font-family: var(--awSt-code-font);
    font-size: calc(var(--awSt-content-font-size) - 2px);
    font-variant-ligatures: contextual;
}
.extensions__code {
    border-radius: 4px;
    border: 1px dashed var(--ls-border-color);
}
.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
    color: var(--ls-page-inline-code-color);
    background-color: var(--ls-page-inline-code-bg-color);
    text-shadow: none;
}
.cm-s-solarized.cm-s-light .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--ls-tertiary-background-color);
}
.cm-s-solarized.cm-s-light .CodeMirror-activeline-background,
.cm-s-solarized.cm-s-dark .CodeMirror-activeline-background,
.cm-s-solarized.cm-s-light div.CodeMirror-selected,
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
    background-color: var(--awSt-selected-user);
}
/*
  <<<< END: Code
*/

/* TODO: add flashcard vars */
div[data-refs-self*='"card"'] {
    background-color: var(--awSt-flashcard-bg);
}

/*
  >>> BEGIN: Page properties & related blocks
*/
.page-properties {
    margin: 0 0 1em 0 !important;
    border-radius: 4px;
}

.block-properties,
.color-level {
    border-radius: 4px;
}
/*
  <<<< END: Page properties & linked block
*/
