/*
  >>> BEGIN: Scroll bars
*/
*::-webkit-scrollbar-track {
    background-color: var(--ls-tertiary-background-color) !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:active {
    background-color: var(--awSt-ui-scroll-user) !important;
}
.nav-contents-container::-webkit-scrollbar-thumb,
.nav-contents-container::-webkit-scrollbar-thumb:active {
    background-color: var(--awSt-content-text-op-user) !important;
}
/*
  <<<< END: Scroll bars
*/


.text-sm {
    font-family: var(--awSt-ui-font);
    font-size: var(--awSt-ui-text-size);
}
.ui__modal {
    font-family: var(--awSt-ui-font);
}

/* Buttons */
.ui-items-container .button {
    color: var(--ls-primary-text-color);
}
.button.active,
.button:hover {
    background-color: var(--ls-secondary-background-color);
}


/*
  >>> BEGIN: Layout
*/
#main-content-container {
    padding: var(--awSt-content-padding) !important;
}
body:not(.is-awUi-enabled):not([data-page="whiteboard"]) #main-content-container {
    padding-top: calc(var(--awSt-content-padding-top) + 30px) !important;
}
.cp__sidebar-main-content {
    max-width: unset !important;
}
body:not([data-page="whiteboard"]) .cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width);
    padding: 20px 30px;
}
.ls-wide-mode .cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width-wide);
}
body:is([data-page='page'], [data-page='home']).is-banner-active #banner {
    max-width: var(--ls-main-content-max-width);
  }
body:is([data-page='page'], [data-page='home']).is-banner-active .ls-wide-mode #banner {
    max-width: var(--ls-main-content-max-width-wide);
}
.doc-mode {
    margin-left: -10px;
}
.whiteboard-page {
    padding: 0 !important;
}
/*
  <<<< END: Layout
*/


/*
  >>> BEGIN: Right sidebar
*/
#right-sidebar {
    transition: none;
}
#right-sidebar .sidebar-item {
    background-color: var(--ls-primary-background-color);
    box-shadow: none;
}
body[data-page="whiteboard"] #right-sidebar .sidebar-item {
    margin-left: 4px;
}
#right-sidebar .sidebar-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*
  <<<< END: Right sidebar
*/


/*
  >>> BEGIN: Settings
*/
.bg-indigo-600 {
    background-color: var(--ls-link-text-color);
}
.bg-indigo-200 {
    background-color: var(--awSt-link-lighter);
}
.hover\:bg-indigo-500:hover,
.hover\:bg-indigo-700:hover {
    background-color: var(--ls-link-text-color);
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Dropdowns
*/
.dropdown-wrapper {
    max-height: 80vh;
}
.absolute-modal,
.menu-links-wrapper,
.menu-list {
    border: 1px solid var(--ls-border-color);
}
.ui__ac-group-name {
    border-top: 1px solid var(--ls-border-color);
}
.menu-link {
    transition: none;
}
/*
  <<<< END: Dropdowns
*/


/*
  >>> BEGIN: Search
*/
.ui__modal[label="ls-modal-search"] .ui__modal-panel {
    background: var(--ls-primary-background-color);
}
.ls-search .menu-link:hover, .ls-search .menu-link .chosen {
    background-color: var(--ls-quaternary-background-color);
}
/*
  <<<< END: Search
*/


/* other */
.tippy-wrapper {
    background-color: var(--ls-quaternary-background-color);
    border: 1px solid var(--ls-border-color);
}
