.ui__modal,
.text-sm {
    font-family: var(--awSt-ui-font);
}
.text-sm {
    font-size: var(--awSt-ui-text-size);
}


/*
  >>> BEGIN: Layout
*/
/* width */
.cp__sidebar-main-content {
    max-width: unset !important;
}
.cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width);
}
.ls-wide-mode .cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width-wide);
}
body[data-page="whiteboard"] .cp__sidebar-main-content > div,
body[data-page="graph"] .cp__sidebar-main-content > div {
    max-width: 100%;
}
body[data-page="graph"] .graph {
    height: calc(100vh - var(--awSt-head-height)) !important;
}

/* outer spacing */
#main-content-container {
    padding: var(--awSt-content-padding) !important;
}
body:not(.is-awUi-enabled) #main-content-container {
    padding-top: calc(var(--awSt-content-padding-top) + var(--awSt-tabs-height)) !important;
}
body[data-page="whiteboard"] #main-content-container,
body[data-page="graph"] #main-content-container {
    padding: 0 !important;
}
body[data-page="whiteboards"] #main-content-container,
body[data-page="all-pages"] #main-content-container {
    padding-top: var(--awSt-content-padding-top) !important;
}

/* inner spacing */
.cp__sidebar-main-content > div {
    padding: 20px 30px;
}
body[data-page="whiteboard"] .cp__sidebar-main-content > div,
body[data-page="graph"] .cp__sidebar-main-content > div {
    padding: 0;
}

.doc-mode {
    margin-left: -10px;
}
.whiteboard-page {
    padding: 0 !important;
}

#journals .journal-item {
    margin: 0;
}
#journals .journal-item + .journal-item {
    margin-top: 24px;
}
/*
  <<<< END: Layout
*/


/*
  >>> BEGIN: Left sidebar
*/
/* header */
#head .l .button {
    opacity: 0.6 !important;
    background: none !important;
}
#head .l .button:hover {
    opacity: 1 !important;
}
.ls-left-sidebar-open #head .l .button {
    color: var(--awSt-ui-lsidebar-text) !important;
    transition: none;
}
.ls-left-sidebar-open #head .l .button:hover {
    background: none !important;
}

#head .r .button,
#head .r a:not(.menu-link) {
    opacity: 0.6 !important;
    background: none !important;
}
#head .r .button:hover,
#head .r a:not(.menu-link):hover {
    opacity: 1 !important;
}


/* dropdowns */
#left-sidebar .dropdown-caret {
    border-top-color: var(--awSt-ui-lsidebar-text) !important;
}
#left-sidebar a.item:hover .dropdown-caret {
    border-top-color: var(--awSt-ui-lsidebar-text-hover) !important;
}

/* collapse headers */
#left-sidebar .header {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--awSt-ui-lsidebar-text) !important;
    transition: none;
}
#left-sidebar .header:hover {
    background-color: var(--awSt-ui-lsidebar-bg-accent) !important;
}
#left-sidebar .header a {
    transition: none;
    color: var(--awSt-ui-lsidebar-text) !important;
}
#left-sidebar .header:hover a {
    color: var(--awSt-ui-lsidebar-text-hover) !important;
}

/* links */
#left-sidebar .cp__menubar-repos {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#left-sidebar .nav-contents-container .bd {
    padding-left: 1rem;
    padding-right: 1rem;
}
#left-sidebar .nav-content-item li a.items-center {
    border-radius: 4px;
}
#left-sidebar .nav-content-item .bd ul a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#left-sidebar a.item,
#left-sidebar .nav-contents-container .bd a {
    color: var(--awSt-ui-lsidebar-text) !important;
    transition: none;
}
#left-sidebar a.item.active,
#left-sidebar a.item:active,
#left-sidebar a.item:hover,
#left-sidebar .nav-contents-container .bd a:hover {
    color: var(--awSt-ui-lsidebar-text-hover) !important;
    background-color: var(--awSt-ui-lsidebar-bg-accent) !important;
}

/* add page btn */
[data-awst-lsidebar-is-dark] #left-sidebar .create {
    background: linear-gradient(transparent, var(--awSt-ui-lsidebar-bg));
}
[data-awst-lsidebar-is-dark] #left-sidebar #create-button {
    color: var(--awSt-ui-lsidebar-text) !important;
    background-color: var(--awSt-ui-lsidebar-bg) !important;
    border: none;
}
[data-awst-lsidebar-is-dark] #left-sidebar #create-button:hover {
    color: var(--awSt-ui-lsidebar-text-hover) !important;
}
/*
  <<<< END: Left sidebar
*/


/*
  >>> BEGIN: Right sidebar
*/
#right-sidebar {
    transition: none;
}
#right-sidebar .sidebar-item {
    background-color: var(--ls-primary-background-color);
    margin: 2px 16px 4px 6px;
    box-shadow: none;
}
#right-sidebar .cp__right-sidebar-settings-btn {
    opacity: 0.9;
}
.cp__right-sidebar .resizer {
    left: 2px;
}
/*
  <<<< END: Right sidebar
*/


/*
  >>> BEGIN: Settings
*/
.bg-indigo-600 {
    color: var(--awSt-ui-lsidebar-text-hover);
    background-color: var(--ls-link-text-color);
}
.bg-indigo-200 {
    background-color: var(--awSt-link-lighter);
}
.hover\:bg-indigo-500:hover,
.hover\:bg-indigo-700:hover {
    background-color: var(--ls-link-text-color);
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Dropdowns
*/
.dropdown-wrapper {
    max-height: 80vh;
}
.absolute-modal,
.menu-links-wrapper,
.menu-list {
    border: 1px solid var(--ls-border-color);
}
.ui__ac-group-name {
    border-top: 1px solid var(--ls-border-color);
}
.menu-link {
    transition: none;
}

.dropdown-wrapper .menu-link:hover {
    color: var(--ls-link-text-color) !important;
    background-color: var(--ls-a-chosen-bg) !important;
}
/*
  <<<< END: Dropdowns
*/


/*
  >>> BEGIN: Search
*/
.ui__modal[label="ls-modal-search"] .ui__modal-panel {
    background: var(--ls-primary-background-color);
}
.ls-search .menu-link:hover, .ls-search .menu-link .chosen {
    background-color: var(--ls-menu-hover-color) !important;
}
/*
  <<<< END: Search
*/


/*
  >>> BEGIN: Themes popup
*/
.is-themes-opened .ui__modal {
    justify-content: flex-end;
}
.is-themes-opened .ui__modal .panel-content {
    min-width: unset;
    width: 400px;
}
.cp__themes-installed .text-xs .opacity-60 {
    display: none;
}
.cp__themes-installed .it.is-selected,
.cp__themes-installed .it:hover,
.cp__themes-installed .it.is-active {
    background-color: var(--ls-primary-background-color) !important;
}
/*
  <<<< END: Themes popup
*/


/*
  >>> BEGIN: Scroll bars
*/
*::-webkit-scrollbar-track {
    background-color: var(--ls-tertiary-background-color) !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:active {
    background-color: var(--ls-guideline-color) !important;
}
.nav-contents-container::-webkit-scrollbar-track {
    background-color: var(--awSt-ui-lsidebar-bg-user) !important;
}
[data-awst-lsidebar-is-dark] .nav-contents-container::-webkit-scrollbar-thumb,
.nav-contents-container::-webkit-scrollbar-thumb:active {
    background-color: var(--awSt-ui-lsidebar-text-user) !important;
}
/*
  <<<< END: Scroll bars
*/


/*
  >>> BEGIN: Breadcrumbs
*/
.page > div > div > div > .breadcrumb span.opacity-50 {
    color: transparent;
}
.page > div > div > div > .breadcrumb span.opacity-50::before {
    display: inline;
    content: "\ea65";
    font-family: "tabler-icons";
    color: var(--ls-link-text-color);
    margin: 0 -18px 0 -2px;
    position: relative;
    top: 2px;
}
.page > div > div > div > .block-parents a {
    padding: 0 3px;
    border-bottom: 1px dashed var(--ls-link-text-color);
}
.page > div > div > div > .block-parents a:hover {
    background-color: var(--awSt-link-hover-bg-color, var(--ls-link-text-hover-color));
}
.page > div > div > div > .breadcrumb.block-parents {
    margin: 0;
    padding: 0.5rem;
}
/*
  <<<< END: Breadcrumbs
*/


/*
  >>> BEGIN: Other
*/
/*  */
.tippy-wrapper {
    background-color: var(--ls-quaternary-background-color);
    border: 1px solid var(--ls-border-color);
}
/*
  <<<< END: Other
*/
