.ui__modal,
.text-sm {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text-sm {
    font-size: var(--awSt-ui-text-size);
}


/*
  >>> BEGIN: Layout
*/
/* width */
.cp__sidebar-main-content {
    max-width: unset !important;
}
.cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width);
}
.ls-wide-mode .cp__sidebar-main-content > div {
    max-width: var(--ls-main-content-max-width-wide);
}
body[data-page="whiteboard"] .cp__sidebar-main-content > div,
body[data-page="graph"] .cp__sidebar-main-content > div {
    max-width: 100%;
}
body[data-page="graph"] .graph {
    height: calc(100vh - var(--awSt-head-height)) !important;
}

body:is([data-page='page'], [data-page='home']).is-banner-active #banner {
    max-width: var(--ls-main-content-max-width);
  }
body:is([data-page='page'], [data-page='home']).is-banner-active .ls-wide-mode #banner {
    max-width: var(--ls-main-content-max-width-wide);
}

/* outer spacing */
#main-content-container {
    padding: var(--awSt-content-padding) !important;
}
body:not(.is-awUi-enabled) #main-content-container {
    padding-top: calc(var(--awSt-content-padding-top) + var(--awSt-tabs-height)) !important;
}
body[data-page="whiteboard"] #main-content-container,
body[data-page="graph"] #main-content-container {
    padding: 0 !important;
}
body[data-page="whiteboards"] #main-content-container,
body[data-page="all-pages"] #main-content-container {
    padding-top: var(--awSt-content-padding-top) !important;
}

/* inner spacing */
.cp__sidebar-main-content > div {
    padding: 20px 30px;
}
body[data-page="whiteboard"] .cp__sidebar-main-content > div,
body[data-page="graph"] .cp__sidebar-main-content > div {
    padding: 0;
}

.doc-mode {
    margin-left: -10px;
}
.whiteboard-page {
    padding: 0 !important;
}

#journals .journal-item {
    margin: 0;
}
#journals .journal-item + .journal-item {
    margin-top: 24px;
}
/*
  <<<< END: Layout
*/


/*
  >>> BEGIN: Left sidebar
*/
.ls-left-sidebar-open #head .l .button,
.ls-left-sidebar-open #left-sidebar a.item,
.ls-left-sidebar-open #left-sidebar .nav-contents-container a.items-center {
    color: var(--awSt-ui-lsidebar-text) !important;
}
[data-awst-preset="Bear"] .ls-left-sidebar-open #head .l .button:hover{
    color: var(--ls-primary-background-color) !important;
}
[data-awst-preset="Bear"] .ls-left-sidebar-open #left-sidebar a.item:hover{
    color: var(--ls-primary-background-color) !important;
    background-color: var(--ls-link-text-color) !important;
}
[data-awst-preset="Bear"] #left-sidebar .nav-content-item li {
    margin: 0 8px;
}
[data-awst-preset="Bear"] #left-sidebar .nav-content-item li a.items-center {
    border-radius: 4px;
}

[data-awst-preset="Bear"] #left-sidebar a.item:hover,
[data-awst-preset="Bear"] #left-sidebar .nav-contents-container a.items-center:hover {
    color: var(--ls-primary-background-color) !important;
    background-color: var(--ls-link-text-color) !important;
}

[data-awst-preset="Bear"] #left-sidebar .create {
    background-image: linear-gradient(transparent, var(--ls-primary-text-color));
}
[data-awst-preset="Bear"] #left-sidebar .create #create-button {
    color: var(--awSt-ui-lsidebar-text) !important;
    background-color: var(--awSt-ui-lsidebar-bg) !important;
    border: none;
}
[data-awst-preset="Bear"] #left-sidebar .button.active, .button:hover {
    background-color: transparent !important;
}
/*
  <<<< END: Left sidebar
*/


/*
  >>> BEGIN: Right sidebar
*/
#right-sidebar {
    transition: none;
}
#right-sidebar .sidebar-item {
    background-color: var(--ls-primary-background-color);
    margin: 2px 16px 4px 6px;
}
#right-sidebar .cp__right-sidebar-settings-btn {
    opacity: 0.9;
}

/*
  <<<< END: Right sidebar
*/


/*
  >>> BEGIN: Settings
*/
.bg-indigo-600 {
    background-color: var(--ls-link-text-color);
}
.bg-indigo-200 {
    background-color: var(--awSt-link-lighter);
}
.hover\:bg-indigo-500:hover,
.hover\:bg-indigo-700:hover {
    background-color: var(--ls-link-text-color);
}
/*
  <<<< END: Settings
*/


/*
  >>> BEGIN: Dropdowns
*/
.dropdown-wrapper {
    max-height: 80vh;
}
.absolute-modal,
.menu-links-wrapper,
.menu-list {
    border: 1px solid var(--ls-border-color);
}
.ui__ac-group-name {
    border-top: 1px solid var(--ls-border-color);
}
.menu-link {
    transition: none;
}

[data-awst-preset="Bear"] .dropdown-wrapper .menu-link:hover {
    color: var(--ls-primary-background-color) !important;
    background-color: var(--ls-link-text-color) !important;
    border-radius: 4px;
}
/*
  <<<< END: Dropdowns
*/


/*
  >>> BEGIN: Search
*/
.ui__modal[label="ls-modal-search"] .ui__modal-panel {
    background: var(--ls-primary-background-color);
}
.ls-search .menu-link:hover, .ls-search .menu-link .chosen {
    background-color: var(--ls-menu-hover-color) !important;
}
/*
  <<<< END: Search
*/


/*
  >>> BEGIN: Themes popup
*/
.is-themes-opened .ui__modal {
    justify-content: flex-end;
}
.is-themes-opened .ui__modal .panel-content {
    min-width: unset;
    width: 400px;
}
.cp__themes-installed .text-xs .opacity-60 {
    display: none;
}
.cp__themes-installed .it.is-selected,
.cp__themes-installed .it:hover,
.cp__themes-installed .it.is-active {
    background-color: var(--ls-primary-background-color) !important;
}
/*
  <<<< END: Themes popup
*/


/*
  >>> BEGIN: Scroll bars
*/
*::-webkit-scrollbar-track {
    background-color: var(--ls-tertiary-background-color) !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:active {
    background-color: var(--awSt-ui-scroll-user) !important;
}
.nav-contents-container::-webkit-scrollbar-thumb,
.nav-contents-container::-webkit-scrollbar-thumb:active {
    background-color: var(--awSt-content-text-op-user) !important;
}
/*
  <<<< END: Scroll bars
*/


/* other */
.tippy-wrapper {
    background-color: var(--ls-quaternary-background-color);
    border: 1px solid var(--ls-border-color);
}
