:root {
    --font-os-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html, body {
    padding: 0;
    margin: 0;
    font-family: var(--font-os-system);
    font-size: 13px;
    overflow: hidden;
    color: var(--ls-primary-text-color);
}

#app {
    width: 100vw;
    height: 100vh;
    user-select: none;
}

#app-inner {
    position: absolute;
    width: 210px;
    padding: 8px 0;
    background-color: var(--ls-primary-background-color);
    border: 1px solid var(--ls-border-color);
    border-radius: 6px;
}

#app-settings-btn {
    display: flex;
    padding: 10px 16px 9px 18px;
    cursor: pointer;
    border-bottom: 1px solid var(--ls-border-color);
}

#app-settings-btn:hover {
    color: var(--ls-link-text-color);
    background-color: var(--ls-a-chosen-bg);
}

#app-settings-btn svg {
    margin-right: 6px;
    opacity: 0.6;
}

.awSt-presets {
}

.awSt-presets__item {
    display: block;
    padding: 10px 16px 9px 18px;
    text-decoration: none;
    color: var(--ls-primary-text-color);
    cursor: pointer;
}

.awSt-presets__item.chosen {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='m5 12 5 5L20 7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;
}

.awSt-presets__item:hover {
    color: var(--ls-link-text-color);
    background-color: var(--ls-a-chosen-bg);
}
