@import url("./modules/fonts/fonts.css");
@import url("./modules/ui/ui.css");
@import url("./modules/bg/bg.css");

@import url("./modules/page/page.css");
@import url("./modules/content/content.css");

@import url("./modules/extPlugins/extPlugins.css");


.light-theme,
.dark-theme,
html[data-theme='light'],
html[data-theme='dark'] {
    --ls-main-content-max-width: var(--awSt-content-max-width, 1100px);

    --awSt-font-fira-sans: 'Fira Sans', sans-serif;
    --awSt-font-aiwriter-quattro: 'iA Writer Quattro', sans-serif;
    --awSt-font-mulish: 'Mulish', sans-serif;
    --awSt-font-default-inter: 'Inter', sans-serif;
    --awSt-font-os-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --awSt-font-fira-code: "Fira Code Nerd Font", "Fira Code", Monaco, Menlo, Consolas, "COURIER NEW", monospace;

    --awSt-code-font: var(--awSt-font-fira-code);
    --awSt-ui-font: var(--awSt-font-os-system);
    --awSt-ui-text-size: var(--awSt-ui-font-size, 13px);
    --ls-font-family: var(--awSt-content-font);


    /* Colors palette */
    --awSt-link: var(--awSt-link-user);
    --awSt-link-lighter: var(--awSt-link-lighter-user);

    --awSt-link-ext: var(--awSt-link-ext-user);
    --awSt-link-ext-lighter: var(--awSt-link-ext-lighter-user);

    --awSt-tag: var(--awSt-tag-user);
    --awSt-tag-lighter: var(--awSt-tag-lighter-user);

    --awSt-quote-text: var(--awSt-quote-text-user);
    --awSt-quote-bg: var(--awSt-quote-bg-user);

    --awSt-mark-text: var(--awSt-mark-text-user);
    --awSt-mark-bg: var(--awSt-mark-bg-user);

    --awSt-flashcard-bg: var(--awSt-flashcard-bg-user);

    --awSt-content-text: var(--awSt-content-text-user);
    --awSt-content-text-bold: var(--awSt-content-text-bold-user);
    --awSt-content-text-italic: var(--awSt-content-text-italic-user);

    --awSt-content-text-alt: var(--awSt-content-text-alt-user);

    --awSt-content-bg: var(--awSt-content-bg-user);

    --awSt-content-alt-bg-3: var(--awSt-content-alt-bg-3-user);
    --awSt-content-alt-bg-2: var(--awSt-content-alt-bg-2-user);
    --awSt-content-alt-bg: var(--awSt-content-alt-bg-user);
    --awSt-content-alt-bg-0: var(--awSt-content-alt-bg-0-user);
    --awSt-content-border: var(--awSt-content-border-user);

    --awSt-ui-content-bg: var(--awSt-ui-content-bg-user);
    --awSt-ui-panels-bg: var(--awSt-ui-panels-bg-user);

    --ls-border-color: var(--awSt-content-border);

    /* text - begin */
    --ls-page-text-size: var(--awSt-content-font-size, 16px);
    --ls-page-title-size: 26px;
    --ls-title-text-color: var(--awSt-title-text-user);
    --ls-primary-text-color: var(--awSt-content-text);
    --ls-secondary-text-color: var(--awSt-content-text-alt);
    /* text - end */

    /* levels bg - begin */
    --ls-primary-background-color: var(--awSt-content-bg);
    --ls-secondary-background-color: var(--awSt-content-alt-bg);
    --ls-tertiary-background-color: var(--awSt-content-alt-bg-0);
    --ls-quaternary-background-color: var(--awSt-content-bg);
    --color-level-4: var(--awSt-content-alt-bg-2);
    --color-level-5: var(--awSt-content-alt-bg-3);
    /* levels bg - end */

    /* links - begin */
    --ls-link-ref-text-color: var(--awSt-link);
    --ls-link-ref-text-hover-color: var(--ls-link-text-color);
    --awSt-link-hover-bg-color: var(--awSt-link-lighter);

    --ls-link-text-color: var(--awSt-link);
    --ls-link-text-hover-color: var(--ls-link-text-color);
    --awSt-link-ext-hover-bg-color: var(--awSt-link-ext-lighter);

    --ls-block-ref-link-text-color: var(--ls-secondary-text-color);

    --ls-tag-text-color: var(--awSt-tag);
    --ls-tag-text-hover-color: var(--awSt-tag);
    --awSt-tag-hover-bg-color: var(--awSt-tag-lighter);
    /* links - end */

    /* menus */
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    /* --ls-a-chosen-bg: var(--ls-secondary-background-color); */
    --ls-icon-color: var(--ls-primary-text-color);

    /* bullets - begin */
    --ls-block-bullet-color: var(--awSt-content-text-op-user);
    --ls-block-bullet-active-color: var(--awSt-link);
    --ls-block-bullet-border-color: var(--awSt-content-text-op-user);
    --ls-guideline-color: var(--awSt-content-text-op-user);
    --ls-guideline-hover-color: var(--awSt-link-lighter);
    /* bullets - end */

    /* selected - begin */
    --ls-selection-background-color: var(--awSt-selected-user);
    --ls-block-highlight-color: var(--awSt-selected-user);
    /* selected - end */

    /* blockquote -begin */
    --ls-page-blockquote-color: var(--awSt-quote-text);
    --ls-page-blockquote-bg-color: var(--awSt-quote-bg);
    --ls-page-blockquote-border-color: var(--awSt-content-text-op-user);
    /* blockquote -end */

    /* inline code - begin*/
    --ls-page-inline-code-color: var(--awSt-content-text-code-user);
    --awSt-inline-code-bg: var(--ls-secondary-background-color);
    /* inline code - end*/

    --ls-page-properties-background-color: var(--awSt-content-props-bg-user);
    --ls-block-properties-background-color: var(--awSt-content-props-bg-user);

    --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
}
