/* Inspired by https://github.com/nmartin84/logseq-solarized */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('./settings.css');

/*
  Remap common Logseq variables to reuse each other
  and then remap to own small sized palette -`-cp-*`
*/
.light,
.light-theme,
html[data-theme='light'],
.dark,
.dark-theme,
html[data-theme='dark'] {
    --ls-page-text-size: 17px;
    --sb-text-size: 15px;

    --ls-page-title-size: 26px;
    --ct-page-title-font-family: var(--ls-font-family);
    --ls-title-text-color: var(--cp-accent);

    --ls-page-blockquote-border-color: var(--cp-accent);

    --ls-block-bullet-color: var(--cp-accent);
    --ls-block-bullet-active-color: var(--cp-accent);
    --ls-block-bullet-border-color: var(--cp-accent-opacity-semi);
    --ls-bullet-closed-color: var(--ls-secondary-text-color);

    --ls-selection-background-color: var(--cp-accent-opacity);
    --ls-block-highlight-color: var(--cp-accent-opacity);

    --ls-a-chosen-bg: var(--ls-secondary-background-color);

    --ls-page-properties-background-color: var(--ls-tertiary-background-color);
    --ls-block-properties-background-color: var(--ls-tertiary-background-color);

    --ls-page-checkbox-color: var(--cp-accent);
    --ls-page-checkbox-border-color: var(--cp-accent);

    --ls-table-tr-even-background-color: var(--ls-tertiary-background-color);

    --mark-color: var(--cp-black);
    --ls-page-inline-code-color: var(--cp-black);

    --marker-now-doing: var(--cp-green);
    --marker-later: var(--cp-orange);
    --marker-todo: var(--cp-red);
    --marker-waiting: var(--cp-yellow);

    --priority-a: var(--cp-red);
    --priority-b: var(--cp-orange);
    --priority-c: var(--cp-green);

    --ls-primary-text-color: var(--cp-black);
    --ls-primary-background-color: var(--cp-white);
    --ls-secondary-background-color: var(--cp-white-dark);
    --ls-tertiary-background-color: var(--cp-white-darker);
    --ls-quaternary-background-color: var(--cp-white);

    --color-level-4: var(--cp-white-light);
    --color-level-5: #ffffff;

    --link-hover-bg: var(--cp-accent-opacity);

    --ls-scrollbar-foreground-color: var(--cp-accent);
    --ls-scrollbar-background-color: var(--cp-dark);
    --ls-scrollbar-thumb-hover-color: var(--cp-red);

    --ls-menu-hover-color: var(--ls-secondary-background-color);

    --ls-border-color: var(--cp-dark);
    --shadow: var(--ls-secondary-background-color) 0px 2px 3px 0px;

    --tabs-height: 40px;

    font-family: 'Fira Sans', sans-serif;
}


/*
  >>> BEGIN: Backgrounds
*/
#app-container {
    background-color: var(--ls-secondary-background-color);
}
#head {
    background-color: var(--ls-secondary-background-color);
}
#left-container {
    background-image: var(--bg-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
#main-container {
    background: var(--bg-overlay);
}
#main-content {
    background-color: transparent;
}
#main-content-container {
    flex-wrap: wrap;
    padding: 34px !important;
}
.cp__sidebar-main-content > div {
    background-color: var(--ls-primary-background-color);
    box-shadow: var(--bg-shadow);
    border-radius: 13px;
    padding: 20px 30px;
    margin-bottom: 56px !important;
}
.ui__modal-overlay > div {
    background: var(--bg-overlay);
}
/*
  <<<< END: Backgrounds
*/


/*
  >>> BEGIN: Toolbar icons repositioning
*/
/* arrows navigation */
#head > .r > .flex {
    position: absolute;
    left: calc(-1 * var(--ls-left-sidebar-width) + 44px);
}
.is-mac body:not(.is-pdf-active):not(.is-tabs-loaded) #head > .r > .flex {
    left: calc(-1 * var(--ls-left-sidebar-width) + 122px);
}
/* hide home button */
body:not([data-page='home']) .ui-items-container + div {
    --real-hidden-home: calc(var(--hidden-home) * 1);
    display: var(--real-hidden-home, none) !important;
}
/*
  <<<< END: Toolbar icons repositioning
*/


/*
  >>> BEGIN: Left sidebar content
*/
#left-sidebar .item {
    height: 34px !important;
}
#left-sidebar .nav-content-item a {
    font-size: var(--sb-text-size);
    transition: none;
}
.left-sidebar-inner .new-page {
    display: none;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav-content-item .fade-link {
    opacity: 1;
}
/*
  <<<< END: Left sidebar content
*/


/*
  >>> BEGIN: Right sidebar content
*/
.cp__right-sidebar .sidebar-item {
    background-color: var(--ls-primary-background-color);
}
#right-sidebar .text-sm {
    font-size: var(--sb-text-size);
}
/*
  <<<< END: Right sidebar content
*/


/*
  >>>> BEGIN: Icons restyle
*/
#head .cp__right-sidebar-topbar a {
    color: var(--ls-primary-text-color);
}
#head .ti-menu-2::before {
    content: '\f005';
}
.ls-left-sidebar-open #head .ti-menu-2::before {
    content: '\f004';
}
#head .toggle-right-sidebar {
    display: flex;
    height: 30px;
}
#head .ti-layout-sidebar-right::before {
    content: '\f007';
}
.ls-right-sidebar-open .cp__right-sidebar .ti-layout-sidebar-right::before {
    content: '\f006';
}
.flashcards-nav .ti-infinity::before,
.cards-review .ti-infinity::before {
    content: '\ea38';
}
[data-page='page'] .ui__dropdown-trigger .menu-link:first-child > div::before {
    display: inline-block;
    font-family: 'tabler-icons';
    content: '\eb2e';
    width: 14px;
    height: 22px;
    font-size: 14px;
    margin-right: 5px;
}
#head .ui__dropdown-trigger .button {
    opacity: 1;
    border: 1px solid var(--ls-border-color);
}
.cp__right-sidebar-settings .cp__right-sidebar-settings-btn {
    display: flex;
    align-items: end;
    border: 1px solid var(--ls-border-color);
    padding: 3px 6px 3px 4px;
    border-radius: 4px;
}
.cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover {
    background: var(--ls-tertiary-background-color);
}
.cp__right-sidebar-settings .cp__right-sidebar-settings-btn::before {
    font-family: 'tabler-icons';
    width: 22px;
    height: 22px;
    font-size: 20px;
    margin-right: 4px;
    opacity: 0.5;
    transition: 0.3s;
}
.cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover::before {
    opacity: 1;
}
.cp__right-sidebar-settings
    > div:nth-of-type(1)
    > .cp__right-sidebar-settings-btn::before {
    content: '\ef40';
}
.cp__right-sidebar-settings
    > div:nth-of-type(2)
    > .cp__right-sidebar-settings-btn::before {
    content: '\ee9e';
}
.cp__right-sidebar-settings
    > div:nth-of-type(3)
    > .cp__right-sidebar-settings-btn::before {
    content: '\eabf';
}
/*
  <<<< END: Icons restyle
*/


/*
  >>> BEGIN: Pages icons
*/
.journal-title .title::before,
.is-journals .title::before {
    content: '\1F4C5';
    font-size: 0.75em;
    margin-right: 10px;
    vertical-align: text-bottom;
}
/*
  <<<< END: Pages icons
*/


/*
  >>> BEGIN: Page properties & linked block
*/
.pre-block .block-control ~ a {
    display: none;
}
.block-properties .page-ref {
    border-radius: 3px;
    padding: 2px 4px;
}
.block-properties,
.color-level {
    border-radius: 4px;
    border: 1px solid var(--ls-border-color);
}
/*
  <<<< END: Page properties & linked block
*/


/*
  >>> BEGIN: Internal inks
*/
.page-ref {
    border-radius: 3px;
    padding: 1px 2px;
}
.page-ref:hover {
    background-color: var(--link-hover-bg);
}
.page-reference:hover {
    background: transparent;
}
/*
  <<<< END: Internal inks
*/


/*
  >>> BEGIN: #Tags
*/
.tag {
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 5px;
}
.tag:hover {
    background-color: var(--link-hover-bg);
}
/*
  <<<< END: #Tags
*/


/*
  >>> BEGIN: External links
*/
.external-link {
    padding: 2px 4px;
    border-radius: 3px;
    border: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.external-link:hover {
    background-color: var(--link-hover-bg);
}
.external-link-img {
    display: var(--favicons, inline-block);
    width: 16px;
    height: 16px;
    margin: -3px 5px 0 0;
}
/*
  <<<< END: External links
*/


/*
  >>> BEGIN: Tasks: status recolor
  @danzu https://discord.com/channels/725182569297215569/725182570131751005/952564162792402976
*/
.form-checkbox {
    background-color: transparent;
    border: 1px solid;
}
.form-checkbox:checked {
    background-color: var(--cp-blue);
}
.block-marker.NOW,
.block-marker.DOING {
    color: var(--marker-now-doing);
}
.block-marker.LATER {
    color: var(--marker-later);
}
.block-marker.TODO {
    color: var(--marker-todo);
}
.block-marker.waiting {
    color: var(--marker-waiting);
}
/*
  <<<< END: Tasks: status recolor
*/


/*
  >>> BEGIN: Tasks: priority recolor
*/
.priority {
    font-size: 0;
    visibility: hidden;
}
a[priority]::before,
.priority::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 20px;
    width: 20px;
    visibility: visible;
    margin-right: 5px;
    margin-bottom: -4px;
    -webkit-mask: var(--priority-bg) no-repeat 50% 50%;
    mask: var(--priority-bg) no-repeat 50% 50%;
}
a[priority='A']::before,
.priority[href='#/page/A']::before {
    --priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFycm93LXVwLWNpcmNsZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGRlc2M+RG93bmxvYWQgbW9yZSBpY29uIHZhcmlhbnRzIGZyb20gaHR0cHM6Ly90YWJsZXItaWNvbnMuaW8vaS9hcnJvdy11cC1jaXJjbGU8L2Rlc2M+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIj48L3BhdGg+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iOSI+PC9jaXJjbGU+PGxpbmUgeDE9IjEyIiB5MT0iOCIgeDI9IjgiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjgiIHgyPSIxMiIgeTI9IjE2Ij48L2xpbmU+PGxpbmUgeDE9IjE2IiB5MT0iMTIiIHgyPSIxMiIgeTI9IjgiPjwvbGluZT48L3N2Zz4=);
    background-color: var(--priority-a);
}
a[priority='B']::before,
.priority[href='#/page/B']::before {
    background-color: var(--priority-b);
    --priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWNpcmNsZS1kb3QiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxkZXNjPkRvd25sb2FkIG1vcmUgaWNvbiB2YXJpYW50cyBmcm9tIGh0dHBzOi8vdGFibGVyLWljb25zLmlvL2kvY2lyY2xlLWRvdDwvZGVzYz48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiPjwvcGF0aD48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxIj48L2NpcmNsZT48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI5Ij48L2NpcmNsZT48L3N2Zz4=);
}
a[priority='C']::before,
.priority[href='#/page/C']::before {
    background-color: var(--priority-c);
    --priority-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFycm93LWRvd24tY2lyY2xlIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48ZGVzYz5Eb3dubG9hZCBtb3JlIGljb24gdmFyaWFudHMgZnJvbSBodHRwczovL3RhYmxlci1pY29ucy5pby9pL2Fycm93LWRvd24tY2lyY2xlPC9kZXNjPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjkiPjwvY2lyY2xlPjxsaW5lIHgxPSI4IiB5MT0iMTIiIHgyPSIxMiIgeTI9IjE2Ij48L2xpbmU+PGxpbmUgeDE9IjEyIiB5MT0iOCIgeDI9IjEyIiB5Mj0iMTYiPjwvbGluZT48bGluZSB4MT0iMTYiIHkxPSIxMiIgeDI9IjEyIiB5Mj0iMTYiPjwvbGluZT48L3N2Zz4=);
}
a.tooltip-priority {
    transition: none;
}
/*
  <<<< END: Tasks: priority recolor
*/


/*
  >>> BEGIN: Admonition blocks
*/
.admonitionblock {
    margin: 16px 0;
}
.admonitionblock svg {
    display: none;
}
.admonitionblock .admonition-icon {
    padding-right: 10px;
}
.admonitionblock .text-lg {
    margin-left: 14px;
}
.admonitionblock .admonition-icon::before {
    content: '';
    border-radius: 100%;
    height: 32px;
    width: 32px;
    -webkit-mask: var(--admonition-SVG) 50% 50% / contain no-repeat;
}
.admonitionblock.tip .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJ1bGIiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxkZXNjPkRvd25sb2FkIG1vcmUgaWNvbiB2YXJpYW50cyBmcm9tIGh0dHBzOi8vdGFibGVyLWljb25zLmlvL2kvYnVsYjwvZGVzYz48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiPjwvcGF0aD48cGF0aCBkPSJNMyAxMmgxbTggLTl2MW04IDhoMW0tMTUuNCAtNi40bC43IC43bTEyLjEgLS43bC0uNyAuNyI+PC9wYXRoPjxwYXRoIGQ9Ik05IDE2YTUgNSAwIDEgMSA2IDBhMy41IDMuNSAwIDAgMCAtMSAzYTIgMiAwIDAgMSAtNCAwYTMuNSAzLjUgMCAwIDAgLTEgLTMiPjwvcGF0aD48bGluZSB4MT0iOS43IiB5MT0iMTciIHgyPSIxNC4zIiB5Mj0iMTciPjwvbGluZT48L3N2Zz4=);
    background-color: var(--cp-blue);
}
.admonitionblock.note .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLW5vdGVzIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48ZGVzYz5Eb3dubG9hZCBtb3JlIGljb24gdmFyaWFudHMgZnJvbSBodHRwczovL3RhYmxlci1pY29ucy5pby9pL25vdGVzPC9kZXNjPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxyZWN0IHg9IjUiIHk9IjMiIHdpZHRoPSIxNCIgaGVpZ2h0PSIxOCIgcng9IjIiPjwvcmVjdD48bGluZSB4MT0iOSIgeTE9IjciIHgyPSIxNSIgeTI9IjciPjwvbGluZT48bGluZSB4MT0iOSIgeTE9IjExIiB4Mj0iMTUiIHkyPSIxMSI+PC9saW5lPjxsaW5lIHgxPSI5IiB5MT0iMTUiIHgyPSIxMyIgeTI9IjE1Ij48L2xpbmU+PC9zdmc+);
    background-color: var(--cp-blue);
}
.admonitionblock.important .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFsZXJ0LWNpcmNsZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGRlc2M+RG93bmxvYWQgbW9yZSBpY29uIHZhcmlhbnRzIGZyb20gaHR0cHM6Ly90YWJsZXItaWNvbnMuaW8vaS9hbGVydC1jaXJjbGU8L2Rlc2M+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIj48L3BhdGg+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iOSI+PC9jaXJjbGU+PGxpbmUgeDE9IjEyIiB5MT0iOCIgeDI9IjEyIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMTIiIHkxPSIxNiIgeDI9IjEyLjAxIiB5Mj0iMTYiPjwvbGluZT48L3N2Zz4=);
    background-color: var(--cp-red);
}
.admonitionblock.warning .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWFsZXJ0LXRyaWFuZ2xlIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48ZGVzYz5Eb3dubG9hZCBtb3JlIGljb24gdmFyaWFudHMgZnJvbSBodHRwczovL3RhYmxlci1pY29ucy5pby9pL2FsZXJ0LXRyaWFuZ2xlPC9kZXNjPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0xMiA5djJtMCA0di4wMSI+PC9wYXRoPjxwYXRoIGQ9Ik01IDE5aDE0YTIgMiAwIDAgMCAxLjg0IC0yLjc1bC03LjEgLTEyLjI1YTIgMiAwIDAgMCAtMy41IDBsLTcuMSAxMi4yNWEyIDIgMCAwIDAgMS43NSAyLjc1Ij48L3BhdGg+PC9zdmc+);
    background-color: var(--cp-orange);
}
.admonitionblock.caution .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWZsYW1lIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48ZGVzYz5Eb3dubG9hZCBtb3JlIGljb24gdmFyaWFudHMgZnJvbSBodHRwczovL3RhYmxlci1pY29ucy5pby9pL2ZsYW1lPC9kZXNjPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0xMiAxMmMyIC0yLjk2IDAgLTcgLTEgLThjMCAzLjAzOCAtMS43NzMgNC43NDEgLTMgNmMtMS4yMjYgMS4yNiAtMiAzLjI0IC0yIDVhNiA2IDAgMSAwIDEyIDBjMCAtMS41MzIgLTEuMDU2IC0zLjk0IC0yIC01Yy0xLjc4NiAzIC0yLjc5MSAzIC00IDJ6Ij48L3BhdGg+PC9zdmc+);
    background-color: var(--cp-orange);
}
.admonitionblock.pinned .admonition-icon::before {
    --admonition-SVG: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLXBpbiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGRlc2M+RG93bmxvYWQgbW9yZSBpY29uIHZhcmlhbnRzIGZyb20gaHR0cHM6Ly90YWJsZXItaWNvbnMuaW8vaS9waW48L2Rlc2M+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIj48L3BhdGg+PHBhdGggZD0iTTE1IDQuNWwtNCA0bC00IDEuNWwtMS41IDEuNWw3IDdsMS41IC0xLjVsMS41IC00bDQgLTQiPjwvcGF0aD48bGluZSB4MT0iOSIgeTE9IjE1IiB4Mj0iNC41IiB5Mj0iMTkuNSI+PC9saW5lPjxsaW5lIHgxPSIxNC41IiB5MT0iNCIgeDI9IjIwIiB5Mj0iOS41Ij48L2xpbmU+PC9zdmc+);
    background-color: var(--cp-red);
}
/*
  <<<< END: Admonition blocks
*/


/*
  >>> BEGIN: QUERY table
*/
.custom-query {
    margin-top: 1rem;
}
.custom-query-title {
    display: flex;
    padding-left: 36px;
}
.custom-query .color-level,
.custom-query .table-auto {
    margin: 0 0 3px 0;
}
.custom-query > div > .initial {
    position: relative;
}
/* setting button*/
.custom-query .initial > div > .flex.flex-row > .fade-link {
    position: absolute;
    z-index: 1;
    left: -8px;
    top: -26px;
    padding: 0 3px;
    opacity: 1;
    border: 1px solid var(--ls-border-color);
    background: var(--ls-secondary-background-color);
}
.custom-query .initial > div .fade-link:hover {
    background: var(--ls-primary-background-color);
}
.custom-query .initial > div > .flex.flex-row {
    height: 0;
}
.custom-query .initial > div > .flex.flex-row .text-sm {
    display: none;
}
.custom-query .initial > div > .flex.flex-row .ui__toggle {
    display: flex;
    position: absolute;
    top: -20px;
    right: 0;
}
.custom-query .initial > div > .flex.flex-row .ui__toggle::before {
    content: '\eba1';
    font-family: 'tabler-icons';
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin: -8px 4px 0 0;
    color: var(--ls-primary-text-color);
}
.custom-query .initial > div > .overflow-x-auto {
    border-radius: 4px;
    box-shadow: var(--shadow);
    border: 1px solid var(--ls-border-color);
}
.results-count {
    white-space: nowrap;
}
td.whitespace-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 450px;
    overflow: hidden;
}
/*
  <<<< END: QUERY table
*/


/* >>> BEGIN: Quote */
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] {
    margin: 0 10px 0 26px;
    padding: 8px 0;
    border-radius: 5px;
    border-left: 4px solid var(--ls-page-blockquote-border-color);
    background-color: var(--ls-page-blockquote-bg-color);
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] > .flex-row {
    margin-left: -30px;
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] > .block-children-container {
    margin-left: 3px !important;
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] > .flex-row > .mr-1 + div {
    margin-left: 10px;
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] > .flex-row > .flex-row > .block-control > .control-hide {
    display: block;
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] .block-children {
    border: 0;
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] .block-children-left-border,
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] > .flex-row > .flex-row .bullet-container,
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] div::before {
    display: none;
}
/* <<<< END: Quote */


/*
  >>> BEGIN: #kanban view
  inspired by https://github.com/cannibalox/logtools
*/
/* layout */
[data-refs-self*='kanban'] > .block-children-container > .block-children {
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    border: 0;
    overflow-x: auto;
}
/* column */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block {
    display: inline-block;
    padding: 0;
    width: inherit;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: var(--ls-tertiary-background-color);
    border: 1px solid var(--ls-border-color);
    box-shadow: var(--shadow);
}
/* header */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row {
    background-color: var(--ls-secondary-background-color);
    border-bottom: 1px solid var(--ls-border-color);
    padding: 4px 6px;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper {
    width: 100%;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper
    > .flex {
    overflow: hidden;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline,
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline
    .page-ref {
    font-weight: bold;
}
[data-refs-self*='kanban'] .todo-master-progress-bar {
    max-width: 90%;
}
/* content */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container {
    margin: 0 !important;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block::before {
    display: none;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block:last-child {
    margin-bottom: 0;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .mr-1 {
    display: none;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children {
    padding: 10px 0;
    border: 0;
}
/*
  <<<< END: #kanban view
*/


/*
  >>> BEGIN: Popups: Search
*/
/* search position */
#head > .l {
    min-width: var(--ls-left-sidebar-width);
}
/* search button */
body:not(.is-toolbar-reordered) #search-button {
    margin-left: 80px;
}
.is-toolbar-reordered #search-button {
    justify-content: start;
    flex-grow: 1;
    overflow: hidden;
    height: 34px;
    margin: 0 24px 0 0;
    padding: 0 6px;
    border-radius: 5px;
    border: 1px solid var(--ls-border-color);
    background: var(--ls-tertiary-background-color);
}
.is-toolbar-reordered #search-button::after {
    display: block;
    content: var(--search-field-text-short);
    margin: 3px 0 0 6px;
    font-size: 16px;
}
@media (min-width: 1024px) {
    .is-toolbar-reordered #search-button::after {
        content: var(--search-field-text);
    }
}
/* search popup */
.ui__modal-panel {
    transition: none;
}
.is-search-opened .ui__modal {
    top: 8px;
    padding: 0;
}
@media (min-width: 1024px) {
    .is-search-opened .ui__modal {
        left: var(--ls-left-sidebar-width);
        justify-content: flex-start;
    }
}
/* search results */
.cp__palette-main {
    border-radius: 5px;
    border: 1px solid var(--ls-border-color);
    background: var(--ls-tertiary-background-color);
}
.cp__palette-main .input-wrap {
    height: 38px;
}
.cp__palette-main .input-wrap::before {
    font-family: 'tabler-icons';
    content: '\eb1c';
    width: 22px;
    height: 22px;
    font-size: 20px;
    position: absolute;
    left: 7px;
    top: 1px;
}
.cp__palette-main .input-wrap .cp__palette-input {
    font-size: 16px;
    padding: 5px 32px 3px 32px;
    border-bottom: 1px solid var(--ls-border-color);
}
.cp__palette-main .menu-link {
    padding: 12px 16px;
    border-bottom: 1px dashed var(--ls-secondary-background-color);
}
.cp__palette-main .chosen,
.cp__select-main .chosen {
    background-color: var(--ls-secondary-background-color);
}
.cp__palette-main .menu-link .py-2 {
    padding: 0;
}
/*
  <<<< END: Popups: Search
*/


/*
  >>> BEGIN: Sticky level 1 items
*/
.page-blocks-inner
    > div
    > div
    > div
    > div
    > div
    > div
    > .ls-block:not([haschild='']):not([data-refs-self='["quote"]']):not([data-refs-self='["card"]'])
    > .flex-row {
    position: var(--sticky-levels, sticky);
    top: -1px;
    z-index: 1;
    background-color: var(--ls-primary-background-color);
}
.is-stuck {
    z-index: 2 !important;
    top: -35px !important;
}
/*
  <<<< END: Sticky level 1 items
*/


/*
  >>> BEGIN: Tabs
*/
.is-tabs-loaded #head,
.is-tabs-loaded #left-sidebar,
.is-tabs-loaded #right-sidebar,
.is-tabs-loaded #pdf-layout-container {
    top: var(--tabs-height);
}

.is-tabs-loaded #main-container,
.is-tabs-loaded #right-sidebar{
    padding-top: var(--tabs-height);
}
.is-tabs-loaded #logseq-tabs_lsp_main {
    height: var(--tabs-height) !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    background: var(--ls-primary-background-color);
}
.is-mac .is-tabs-loaded .cp__header > .l {
    padding-left: 0;
}
.is-tabs-loaded.is-search-opened .ui__modal {
    top: calc(var(--tabs-height) + 8px);
}
/*
  <<<< END: Tabs
*/


/*
  >>> BEGIN: Bullet Threading
*/
/* disable in kanban parent */
[data-refs-self*='kanban']
    > .flex
    > .block-content-wrapper::before,
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex
    > .block-content-wrapper::before,
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children
    > .ls-block::before,
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex
    > .mr-1::before {
    display: none !important;
}
/*
  <<<< END: Bullet Threading
*/


/*
  >>> BEGIN: Fenced code plus
*/
/*
.mermaid {
    border: 1px solid var(--ls-border-color);
    background-color: var(--ls-tertiary-background-color);
    display: inline-block;
    padding: 10px;
}
.mermaid rect,
.mermaid circle,
.mermaid ellipse,
.mermaid polygon,
.mermaid .divider {
    fill: var(--cp-accent-opacity-semi) !important;
    stroke: var(--cp-accent) !important;
}
.mermaid .edgeLabel .label span {
    background-color: var(--cp-accent-opacity) !important;
}
.mermaid #classDiagram-aggregationStart.aggregation {
    fill: var(--cp-accent-opacity) !important;
}
*/
/*
  <<<< END: Fenced code plus
*/


/*
  >>> BEGIN: HTML elements
*/
blockquote {
    border-radius: 5px;
}
mark {
    color: var(--mark-color);
    background-color: var(--mark-bg);
}
:not(pre) > code {
    border: 1px solid var(--ls-border-color);
    padding: 2px 5px !important;
    font-family: 'FiraCode Nerd Font', 'Fira Code', Monaco, Menlo, Consolas,
        'COURIER NEW', monospace;
    font-size: 0.8em;
    background-color: var(--inline-code-bg);
}
.extensions__code {
    border: 1px solid var(--ls-border-color);
}
.extensions__code .code-editor {
    margin-top: 0;
}
.CodeMirror {
    font-family: 'FiraCode Nerd Font', 'Fira Code', Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    line-height: 1.4em;
}
.cm-s-solarized.cm-s-light {
    background-color: var(--cp-white-light);
}
table {
    background-color: var(--ls-primary-background-color);
}
th,
td {
    padding: 0.2rem;
}
textarea {
    line-height: var(--ls-page-text-line-height);
}

/* Headers H1-H5 */
.ls-block h1 {
    font-size: 1.8em;
}
.ls-block :is(h1,h2) {
    margin: 0;
}
.ls-block h3 {
    font-size: 1.27em;
    min-height: 1.27em;
}
.ls-block h5 {
    font-size: 0.93em;
    min-height: 0.93em;
}
.ls-block :is(h1, h2, h3, h4, h5)::after {
  display: var(--header-label, inline-block);
  margin-left: 6px;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  background: var(--ls-tertiary-background-color);
  color: var(--ls-icon-color);
  vertical-align: middle;
  opacity: 0.5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.ls-block h1::after {
  content: "h1";
}
.ls-block h2::after {
  content: "h2";
}
.ls-block h3::after {
  content: "h3";
}
.ls-block h4::after {
  content: "h4";
}
.ls-block h5::after {
  content: "h5";
}
/*
  <<<< END: HTML elements
*/


/*
  >>> BEGIN: Other fixes
*/
.bg-indigo-600 {
    background-color: var(--cp-accent);
}
.hover\:bg-indigo-500:hover,
.hover\:bg-indigo-700:hover {
    background-color: var(--cp-accent);
}
.cp__all_pages .actions {
    margin: 0 -30px;
    padding: 0 30px;
    border: 1px solid var(--ls-border-color);
}
.cp__plugins-item-card > .r .ctl .de .menu-list > li:hover {
    background-color: var(--ls-secondary-background-color);
}
.cp__plugins-page {
    /* more space to see last row plugins "uninstall" menu item ;) */
    padding: 1.5rem 2rem 5rem 2rem;
}
#journals .journal-item:first-child {
    margin-top: 0;
}
.journal-title .title,
.ls-page-title {
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
.add-button-link {
    opacity: calc(var(--new-bullet-hidden, 0) * 1);
}
.max-w-7xl {
    max-width: none;
}
.tippy-wrapper {
    background-color: var(--ls-quaternary-background-color);
    border: 1px solid var(--ls-border-color);
}
.doc-mode {
    margin-left: -10px;
}
div[data-refs-self*='"card"'] {
    background-color: var(--ls-primary-background-color);
    border: 1px solid var(--ls-border-color);
    box-shadow: var(--shadow);
}
/*
  <<<< END: Other fixes
*/
