h1.title {
    color: var(--ls-title-text-color);
    font-family: var(--awSt-content-font);
    font-weight: 600;
}


/*
  >>> BEGIN: Breadcrumbs
*/
.page > div > div > div > .breadcrumb span.opacity-50 {
    color: transparent;
}
.page > div > div > div > .breadcrumb span.opacity-50::before {
    display: inline;
    content: "\ea65";
    font-family: "tabler-icons";
    color: var(--ls-link-text-color);
    margin: 0 -18px 0 -2px;
    position: relative;
    top: 2px;
}
.page > div > div > div > .block-parents a {
    padding: 0 3px;
    border-bottom: 1px dashed var(--ls-link-text-color);
}
.page > div > div > div > .block-parents a:hover {
    background-color: var(--awSt-link-hover-bg-color, var(--ls-link-text-hover-color));
}
.page > div > div > div > .breadcrumb.block-parents {
    margin: 0;
    padding: 0.5rem;
}
/*
  <<<< END: Breadcrumbs
*/


/*
  >>> BEGIN: Page properties & related blocks
*/
.pre-block > .flex > .editor-wrapper > .editor-inner > textarea {
    border-radius: 4px;
    border: 4px solid var(--ls-primary-background-color);
}
.page-properties {
    margin: 0 0 1em 0;
    padding: 0 4px;
    border-radius: 4px;
    outline: 1px solid var(--ls-border-color);
    border: 4px solid var(--ls-page-properties-background-color);
    background-color: var(--ls-page-properties-background-color);
}

.block-properties,
.color-level {
    border-radius: 4px;
    outline: 1px solid var(--ls-border-color);
}
.block-properties .page-property-key {
    color: var(--ls-primary-text-color);
    font-weight: normal;
}
.block-properties .page-ref {
    border-radius: 4px;
}
/*
  <<<< END: Page properties & linked block
*/
