h1.title {
    color: var(--ls-title-text-color);
    font-family: var(--awSt-content-font);
    font-weight: 600;
}


/*
  >>> BEGIN: Breadcrumbs
*/
.page > div > div > div > .breadcrumb span.opacity-50 {
    color: transparent;
}
.page > div > div > div > .breadcrumb span.opacity-50::before {
    display: inline;
    content: "\ea65";
    font-family: "tabler-icons";
    color: var(--ls-link-text-color);
    margin: 0 -18px 0 -2px;
    position: relative;
    top: 2px;
}
.page > div > div > div > .block-parents a {
    padding: 0 3px;
    border-bottom: 1px dashed var(--ls-link-text-color);
}
.page > div > div > div > .block-parents a:hover {
    background-color: var(--awSt-link-hover-bg-color, var(--ls-link-text-hover-color));
}
.page > div > div > div > .breadcrumb.block-parents {
    margin: 0;
    padding: 0.5rem;
}
/*
  <<<< END: Breadcrumbs
*/


/*
  >>> BEGIN: Page properties & related blocks
*/
.pre-block {
    margin-bottom: 1em;
}

.pre-block .editor-wrapper textarea {
    border-radius: 4px;
    border: 4px solid var(--ls-primary-background-color);
}
.page-properties {
    margin: 0;
    padding: 0 4px;
    border-radius: 4px;
    outline: 1px solid var(--ls-border-color);
    border: 4px solid var(--ls-page-properties-background-color);
    background-color: var(--ls-page-properties-background-color);
}

.block-properties,
.color-level {
    border-radius: 4px;
    outline: 1px solid var(--ls-border-color);
}
.block-properties .page-property-key {
    font-weight: normal;
}
.block-properties .page-ref {
    border-radius: 4px;
}
/*
  <<<< END: Page properties & linked block
*/


/*
  >>> BEGIN: Page bottom
*/
/* linked */
.page > div:nth-last-child(2) .references .foldable-title h2::before {
    content: '\eade';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* unlinked */
.page > div:nth-last-child(1) .references .foldable-title h2::before {
    content: '\eb46';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* hierarchy */
.page-hierarchy .foldable-title h2::before {
    content: '\eb9d';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* tagged */
#main-content-container > div > div > div > div.references.mt-6.flex-1.flex-row > div > div > div.content > div > div > h2::before {
    content: '\eb34';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/*
  <<<< END: Page bottom
*/
