@font-face {
    font-family: "iA Writer Quattro";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("./fonts/iAWriterQuattroS-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "iA Writer Quattro";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("./fonts/iAWriterQuattroS-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "iA Writer Quattro";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("./fonts/iAWriterQuattroS-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "iA Writer Quattro";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("./fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2");
  }